/*slick*/
@charset "UTF-8";.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}.slick-loading .slick-list{background:#fff url(./ajax-loader.gif) center center no-repeat}@font-face{font-family:'slick';font-weight:400;font-style:normal;src:url(./fonts/slick.eot);src:url(./fonts/slick.eot?#iefix) format("embedded-opentype"),url(./fonts/slick.woff) format("woff"),url(./fonts/slick.ttf) format("truetype"),url(./fonts/slick.svg#slick) format("svg")}.slick-prev,.slick-next{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;padding:0;-webkit-transform:translate(0,-50%);-ms-transform:translate(0,-50%);transform:translate(0,-50%);cursor:pointer;color:transparent;border:none;outline:none;background:transparent}.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{opacity:1}.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity:.25}.slick-prev{left:-25px}[dir='rtl'] .slick-prev{right:-25px;left:auto}.slick-prev:before{content:'←'}[dir='rtl'] .slick-prev:before{content:'→'}.slick-next{right:-25px}[dir='rtl'] .slick-next{right:auto;left:-25px}.slick-next:before{content:'→'}[dir='rtl'] .slick-next:before{content:'←'}.slick-dotted.slick-slider{margin-bottom:30px}.slick-dots{position:absolute;bottom:-40px;display:block;width:100%;padding:0;margin:0;list-style:none;text-align:center}.slick-dots li{position:relative;display:inline-block;width:20px;height:20px;margin:0 5px;padding:0;cursor:pointer}.slick-dots li button{font-size:0;line-height:0;display:block;width:20px;height:20px;padding:5px;cursor:pointer;color:transparent;border:0;outline:none;background:transparent}.slick-dots li button:hover,.slick-dots li button:focus{outline:none}
*,
ul{padding:0}
*,
body,
ul{margin:0}
sub,
sup,
ul li{position:relative}
details,
select{display:block}
#back-to-top,
.date-right table,
.date-right table th,
.download-btn a,
.geo-fun .download-btn,
.mit-sloan .download-btn{text-align:center}
.participating ul li::before,
.slick-prev::before,
.title4::before,
.typeahead li::before,
ul li::before{content:''}
button,
hr,
input{overflow:visible}
progress,
sub,
sup{vertical-align:baseline}
[type=checkbox],
[type=radio],
legend{box-sizing:border-box;padding:0}
html{line-height:1.15;-webkit-text-size-adjust:100%}
body{font-family:FuturaLT}
h1{font-size:2em;margin:.67em 0}
hr{box-sizing:content-box;height:0}
code,
kbd,
pre,
samp{font-family:monospace, monospace;font-size:1em}
a{background-color:transparent}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,
strong{font-weight:bolder}
small{font-size:80%}
sub,
sup{font-size:75%;line-height:0}
sub{bottom:-.25em}
sup{top:-.5em}
button,
input,
optgroup,
select,
textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button,
select{text-transform:none}
[type=button],
[type=reset],
[type=submit],
button{-webkit-appearance:button}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner{border-style:none;padding:0}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring{outline:ButtonText dotted 1px}
legend{color:inherit;display:table;max-width:100%;white-space:normal}
textarea{overflow:auto}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
summary{display:list-item}
[hidden],
template{display:none}
ul li{list-style:none;padding-left:20px;margin-top:10px}
ul li::before{background:url(../images/circle-bullet.png?v=1.0.2);width:8px;height:8px;position:absolute;top:8px;left:0}
img{border:0}
@font-face{font-family:FuturaLT;src:url(../fonts/FuturaLT.ttf)}
@font-face{font-family:FuturaLT-Bold;src:url(../fonts/FuturaLT-Bold.ttf)}
@font-face{font-family:Futura-LT-Light;src:url(../fonts/Futura-LT-Light.ttf)}
a,
a:active,
a:focus,
a:hover,
button,
button:hover{text-decoration:none;color:#333d47;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}
input[type=checkbox]{height:auto}
.checkbox-inline input[type=checkbox]{width:auto;float:left;height:auto}
.term-text{float:left;padding-top:0!important;font-size:14px}
.bg-grey{ background-color: #f5f5f5; }
.green-text{color:#333d47}
.red-text{color:#0080c8}
.blue-text{color:#0080c8}
.yellow-text{color:#f7b446;}
.black-text{color:#000}
.excutive,
.padd50{padding:50px 0}
.paddtop50{padding-top:50px}
.margintop{margin-top:50px}
.mtop40{margin-top:40px!important}
p,
ul li{margin-bottom:0;font-family:FuturaLT;font-size:16px;line-height:24px}
.title,
.title3,
.title4{font-family:FuturaLT-Bold}
.title{font-size:36px;margin:0}
.title3{font-size:18px;margin:0}
.title4{font-size:22px;margin:0 0 20px;position:relative;text-transform:uppercase;padding-bottom:20px}
.title4::before{position:absolute;left:0;bottom:0;width:160px;background:#c9c7c8;height:5px}
.title5{font-size:20px;margin:0 0 10px;font-weight: 700;}
header{width:100%;background:#fff;-webkit-box-shadow:0 0 5px 0 rgba(0, 0, 0, .4);-moz-box-shadow:0 0 5px 0 rgba(0, 0, 0, .4);box-shadow:0 0 5px 0 rgba(0, 0, 0, .4);padding:20px 0}
.logo{/*padding-top:12px*/}
.top-contact .email p,
.top-contact .phone p{float:left;font-family:FuturaLT;font-weight:700;font-size:12px;line-height:20px;padding-right:5px}
.top-contact span{font-size:13px}
.top-contact .phone p{padding-bottom:20px}
.excutive p{padding:20px 0}
.form-info{padding:10px 0}
.form-info .form{border-top:1px solid #ccc;margin-top:10px}
select{background-color:red;}
.form-info input,
.form-info select{height:44px;border:1px solid #ccc;border-radius:0;color:#000;width:100%;padding-left:10px;outline:0;font-size:14px}
.form-info button{display:block;background:#f7b446;color:#fff;text-transform:uppercase;width:100%;margin:5px 0;padding:13px 0;border-radius:3px;font-family:FuturaLT-Bold;border:1px solid #f7b446;-webkit-box-shadow:2px 3px 8px 0 rgba(0, 0, 0, .4);-moz-box-shadow:2px 3px 8px 0 rgba(0, 0, 0, .4);box-shadow:2px 3px 8px 0 rgba(0, 0, 0, .4)}
.form-info a,
.program h2,
.subject,
.note,
table{font-family:FuturaLT}
.form-info button:hover{background:0 0;border:1px solid #f7b446;color:#f7b446}
.form-info a{text-decoration:underline;float:right;font-size:13px}
fieldset{padding:0;margin-top:10px}
::-webkit-input-placeholder{color:#999;font-size:13px;font-family:FuturaLT}
.mrs{background:url(../images/arrow.png) 90% 19px no-repeat}
.workplace{background:url(../images/arrow.png) 98% 19px no-repeat;font-size:13px !important;}
.workplace option{font-size:14px;}
select{position:relative;outline:0;background:url(../images/arrow.png) 97% 19px no-repeat;padding:2px 2px 1px;border-width:0 0 1px;line-height:1;height:20px;border-radius:0;border-style:solid;width:100%;box-sizing:border-box;color:rgba(0, 0, 0, .87);-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer}
a#CybotCookiebotDialogBodyButtonDetails{display:none!important}
#CybotCookiebotDialog{background:0 0!important;border:none!important;box-shadow:none!important}
#CybotCookiebotDialogBody{background:#fff;border:1px solid #000;font-size:11px!important}
#CybotCookiebotDialogBodyContent{font-size:11px!important}
h2#CybotCookiebotDialogBodyContentTitle{text-transform:none;font-size:13px!important}
::-moz-placeholder{color:#999;font-size:13px;font-family:FuturaLT}
:-ms-input-placeholder{color:#999;font-size:13px;font-family:FuturaLT}
:-moz-placeholder{color:#999;font-size:13px;font-family:FuturaLT}
.form-control:focus{border-color:#0080c8;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(163, 31, 52, .32);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(163, 31, 52, .32)}
.program .box ul li:first-child{margin-top:0px;}
.program .box,
table{border:1px solid #ddd}
.input-name select{width:72px;float:left}
.input-company{margin-top:15px}
.input-name .form-group input{width:35%;float:left;margin-left:5%}
.designation,
.w70{margin-left:2.5%;float:left}
.designation{width:48%}
.w30{width:30%;float:left;margin-right:2.5%}
.w70{width:65%}
.aspect-ratio{position:relative;width:100%;height:0;padding-bottom:55%}
#player{position:absolute;width:100%;height:100%;left:0;top:0}
.why p{padding-bottom:20px}
.about,
.paddb50,
.why,
.why-should{padding-bottom:50px}
.date-fee{background: rgb(245, 245, 245);}
.date-fee p{margin:20px 0}
.date-right em{font-size:14px;color:#8d8d8d}
.date-left{padding-right:100px;}
.date-left ul li{position: static; /*position:relative;*/padding-left:0px;margin-top: 0px;}
/*.date-left ul li::before{content:'*';position:absolute;left:0;background:none;top:4px;color:#0080c8;}*/
.date-right{padding-left:100px;border-left:1px solid #ddd;}
.date-right table th,
table td{padding:8px 10px}
.date-right table th, .table-calendar table td.blue,
table .blue{background:#0080c8;color:#fff}
.date-right table th{width:160px}
.program .box{padding:10px 15px;min-height: 320px;}
.program h2{background-color:#0080c8;font-size:18px;color:#fff;margin:0;position:relative;overflow:hidden;}
.program .heading1 h2{padding:20px 2px 20px 14px}
.program .heading2 h2{padding:20px 2px 25px 14px}
.program p{width:100px;height:250px;background:rgba(0, 0, 0, .15);position:absolute;top:-83px;right:-10px;z-index:99;transform:rotate(-20deg)}
.img1,
.img2,
.img3{position:absolute;right:18px;top:10px}
.subject{font-size:13px;margin-top:60px;color:#666;}
.note { padding-top: 20px;font-size: 12px;color: #9f9f9f;font-style: italic; }
.download-btn a{margin-top:50px;display:block;background:#f7b446;padding:13px 0;border-radius:3px;font-family:FuturaLT-Bold;border:1px solid #f7b446;text-transform:uppercase;color:#fff;-webkit-box-shadow:2px 3px 8px 0 rgba(0, 0, 0, .4);-moz-box-shadow:2px 3px 8px 0 rgba(0, 0, 0, .4);box-shadow:2px 3px 8px 0 rgba(0, 0, 0, .4)}
.download-btn a:hover{background:0 0;border:1px solid #f7b446;color:#f7b446}
.mit-sloan hr,
.program hr{margin-top:50px;margin-bottom:50px;border:0;border-top:1px solid #ddd}
.img1{background:url(../images/sprite.png) -4px -5px no-repeat;width:47px;height:40px}
.img2{background:url(../images/sprite.png) -54px -5px no-repeat;width:53px;height:40px}
.img3{background:url(../images/sprite.png) -114px -3px no-repeat;width:47px;height:40px}
.participating{background:#f5f5f5}
.participating ul li{padding-left:0}
.participating ul li::before{background:0 0!important}
.faculty .note { padding-top:0px; }
.faculty-slider{margin-top:40px}
.faculty-slider .faculty-info img{float:left;margin-right:20px}
.faculty-members>li.col { width: 24%;vertical-align: top;padding: 0 10px;margin: 0px 0px 20px 0px; }
.faculty-members>li:before { position: static; }
.faculty-info h4{font-family:FuturaLT;font-size:18px;margin:10px 0 5px}
.faculty-info p{font-size:14px;/*padding-right:18px*/}
.slick-initialized .slick-slide{outline:0}
.slick-dots li button::before,
.slick-dots li button:before,
.slick-dots li button:focus::before,
.slick-dots li button:hover::before{content:'';font-size:0}
.faculty-slider .slick-prev{width:27px;height:19px;left:-50px;top:70px;background:url(../images/arrow-left.png);transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out}
.faculty-slider .slick-next.slick-disabled,
.faculty-slider .slick-prev.slick-disabled{display:none!important}
.faculty-slider .slick-next{width:27px;height:19px;right:-20px;top:70px;background:url(../images/arrow-right.png);transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out}
.slick-prev::before{font-size:0!important}
.mit-sloan .subject{margin-top:40px}
#back-to-top.show{opacity:1}
#back-to-top{position:fixed;bottom:100px;right:35px;z-index:111;width:32px;height:32px;line-height:30px;background:#0080c8;color:#fff;cursor:pointer;border-radius:2px;text-decoration:none;transition:opacity .2s ease-out;opacity:0;border:1px solid #0080c8}
.mit-sloan .download-btn a{padding:13px 100px;display:inline-block}
footer{background-color:#fff;padding:15px 0;color:#000;}
footer a,
footer p,
footer span{font-size:16px!important;font-weight:400!important;color:#000!important;line-height:inherit !important;}
footer .top-contact{line-height:25px}
footer h4{margin-bottom:20px;font-weight:700;font-family:FuturaLT;margin-top:0px;}
select::-ms-expand {
    display: none;
}
/* .experience{background:#333d47}
.experience h4{color:#fff} */
.geo-fun{background:#eef1f3}
.geo-fun .download-btn a, .date-fee .download-btn a, .program .download-btn a, .participant-profile .download-btn a, .participant-organizations .download-btn a, .alumni-benefits .download-btn a {padding:13px 100px;display:inline-block}
.hide-modules ul li:first-child{margin-top:0!important}
.loadMore{display:none}
.designation{background:#fff}
.typeahead.dropdown-menu{margin:0;padding:0;border-radius:0}
.typeahead li{list-style:none!important;padding-left:0;margin:0}
.typeahead li::before{background:0 0}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;min-width:170px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175)}
.typeahead.dropdown-menu li{width:100%!important}
.typeahead.dropdown-menu li a{text-align:left;margin:0;font-size:14px;width:100%!important;padding:5px 0 5px 13px}
.dropdown-menu>.active>a:hover,
.typeahead.dropdown-menu>.active>a{background:#0080c8;color:#fff;width:100%!important}
input.error{border:1px solid red}
.error{color:red;font-size:11px;font-weight:400}
.pb-8{padding-bottom:0}
.registerform .last_name{padding-left:1px}
.registerform .salutation{left:15px;padding-left:0;padding-right:2px}
.ml7{margin-left:7px}
.typeahead.dropdown-menu{min-width:auto!important;right:15px}
.participant ul li:first-child{margin-top:0}
.location-address li{font-size: 14px;margin-right: 5px !important;}
.mar40{margin:40px;}
.thankyou{background-color: #f0f0f0;padding: 214px 20px;}
.thankyou .download-btn a{width: 100%;text-decoration: none;padding: 13px;}

.notes {
	margin:20px 0px;
}
@media only screen and (max-width:1200px){.program .box{min-height: 385px;}}
@media only screen and (max-width:1024px){.faculty-slider .slick-next{right:-33px}
.input-name .form-group input{width:32%}
header .col-md-8{width:60%!important}
header .col-md-4{width:40%!important}
.date-left{padding-right:50px}
.date-right{padding-left:70px}
.program .box{min-height:264px}
.program h2{font-size:17px}
.faculty-slider .slick-prev{left:-35px}
.title3{font-size:15px}
.form-info{padding-top:50px}

}@media only screen and (max-width:1023px){
.excutive { padding-top: 30px; }
.thankyou-info {margin-top: 0px !important;margin-bottom: 40px;}.thankyou-info h3 {line-height: 30px;}.video-detail .col-sm-4,
.video-detail .col-sm-8{width:100%;clear: both;}
.thankyou{    padding: 50px;    margin-top: 40px;}
.top-contact span {font-size: 12px;}
.youtubevideo img{width: 100%;}
.input-name .form-group input{width:40%}
.faculty-slider .slick-prev{left:-21px}
.faculty-slider .slick-next{right:-18px}
header .col-md-4,
header .col-md-8{width:50%!important}
.date-right table { width:100%; }
.date-fee .col-md-6,
.program .col-sm-4{width:100%}
.date-left{padding-right:0}
.subject{text-align:center;}
.program .box{min-height:auto}
.program .heading1{margin-bottom:15px}
.program .heading2 h2{line-height:25px}
.date-right{margin-top:40px;padding-left:0;border-left:0}
.hide-modules{display:none}
.loadMore{display:block;margin-top:15px;clear:both}
.loadMore a{padding-top:20px;color:#0080c8;text-decoration:underline}
footer{padding:50px 0px;}
footer .footer-info, .partner-info{padding-top:0px !important;}
footer .footer-info h4{margin-top:0px;}
}
@media only screen and (max-width:991px)
{
	.faculty-members>li.col { /*width: 32%;*/ }
}
@media only screen and (max-width:768px){.hide-modules ul li:first-child{margin-top:15px!important}
.participating .col-sm-2{width:100%}
.slick-dots li.slick-active::before{border:1px solid #0080c8;}
.slick-dots li::before{width:5px;height:5px;position:absolute;top:8px;left:0;background-color:#0080c8;border-radius:50%;}
}
@media only screen and (max-width:767px){.loadMore,
.loadMore a{display:block}
.download-btn a,
.experience-info,
.subject{margin-top:30px}
footer .top-contact{display:block;text-align:left;}
footer .top-contact .phone p{padding-bottom:0px;}
footer,
footer img,
header{text-align:center}
.about,
.why,
.why-should{padding-bottom:30px}
.padd50, footer{padding:30px 0}
header .col-md-4,
header .col-md-8{width:100%!important}
.top-contact{display:none}
.title{font-size:24px;line-height:30px}
.title3{font-size:16px}
.title4{font-size:20px;line-height:25px}
.geo-fun .download-btn a,
.mit-sloan .download-btn a{display:block;padding-left:0;padding-right:0}
.faculty-slider .slick-next,
.faculty-slider .slick-prev{z-index:99999;position:absolute;width:40px;background-color:#ddd;border-radius:50%;background-repeat:no-repeat;text-align:center;height:40px;line-height:40px;background-position:6px 10px}
.faculty-slider .slick-next{right:-14px}
.faculty-slider .slick-prev{left:-14px}
.faculty-members>li.col { width: 49%; }
footer .footer-info{padding-top:0}
footer h4{margin-top:0;line-height:25px}
footer,
footer img{margin:0 auto}
}
@media only screen and (max-width:640px){.input-name .form-group input{width:39%}
	.notes {text-align: center;}
	.mit-sloan h4{line-height: 25px;}
}
@media only screen and (max-width:420px){
.geo-fun .download-btn a, .date-fee .download-btn a, .program .download-btn a, .participant-profile .download-btn a, .participant-organizations .download-btn a, .alumni-benefits .download-btn a{padding-left:0px;padding-right:0px;display:block;}
.col-xs-6,
.company{width:100%}
.col-xs-6,
.registerform .country,
.registerform .designation-role,
.registerform .experience,
.registerform .industry,
.registerform .last_name,
.registerform .mobile_num{padding-left:15px}
.typeahead.dropdown-menu{min-width:270px}
.input-name .form-group input{width:34%}
.faculty-slider .faculty-info img{margin-left:5px}
}
.thankyou-info{padding:25px;background-color:#e2e2e1;text-align:center;}
.thankyou-info a{display:block;}
.thankyou-info h3{margin-top:0px;margin-bottom:0px;color:#272525;}
.thankyou-info p{padding:40px 0px 0px 0px;margin-bottom:0px;}
.thankyou-info .download-btn a{margin-top:40px;}
.thankyou-info{margin-top:50px;}
footer .top-contact .phone p{padding-bottom:0px !important;}