$primary: #2B411B;
$primary-light: #5B7842;
$primary-lighter: #E8ECD7;
$secondary: #4C5D33;
$secondary-light: #A4AA88;
$dark: #3B3B3B;
$lightgrey: #F2F2F2;
$green: #3BB54A;
$yellow: #FDD701;
$red: #D80100;
$white: #ffffff;
$black: #000000;