@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html,
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: relative;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

picture {
  display: block;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

label.error {
  display: block;
  width: 100%;
  color: #d6001c;
  font-size: 12px;
  line-height: 16px;
}

.error-text {
  display: block;
  width: 100%;
  color: #d6001c;
  font-size: 14px;
  line-height: 18px;
}

.transition-200ms, .footer .social-media .social-media-list .item .item-link, .footer .menu-list .item .item-link:hover, .main-menu .navbar-nav .nav-item .nav-link::after, .main-menu .navbar-nav .nav-item .nav-link {
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

.transition-400ms {
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.gradientMain {
  /* background: linear-gradient(
    94.17deg,
    $colorGradRed 11.88%,
    $colorGradDarkRed 95.69%
  ); */
}

.text-overflow-card {
  -webkit-box-orient: vertical;
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  line-height: 1.44;
}

.tof-2-line {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.tof-3-line {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.tof-4-line {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.tof-5-line {
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

/***** Common Animation Start *****/
.slideUp, .register-form .form-row {
  opacity: 0;
  -webkit-animation: slideUp 800ms ease 0s 1 normal forwards;
  animation: slideUp 800ms ease 0s 1 normal forwards;
}

.centerZoom {
  opacity: 0;
  -webkit-animation: centerZoom 800ms ease 0s 1 normal forwards;
  animation: centerZoom 800ms ease 0s 1 normal forwards;
}

.ad-100ms {
  animation-delay: 0.1s;
}

.ad-200ms {
  animation-delay: 0.2s;
}

.ad-300ms, .register-form .form-row:nth-child(1) {
  animation-delay: 0.3s;
}

.ad-400ms, .register-form .form-row:nth-child(2) {
  animation-delay: 0.4s;
}

.ad-500ms, .register-form .form-row:nth-child(3) {
  animation-delay: 0.5s;
}

.ad-600ms, .register-form .form-row:nth-child(4) {
  animation-delay: 0.6s;
}

.ad-700ms, .register-form .form-row:nth-child(5) {
  animation-delay: 0.7s;
}

.ad-800ms, .register-form .form-row:nth-child(6) {
  animation-delay: 0.8s;
}

.ad-900ms, .register-form .form-row:nth-child(7) {
  animation-delay: 0.9s;
}

.ad-1s, .register-form .form-row:nth-child(8) {
  animation-delay: 1s;
}

.ad-1-1s, .register-form .form-row:nth-child(9) {
  animation-delay: 1.1s;
}

.ad-1-2s, .register-form .form-row:nth-child(10) {
  animation-delay: 1.2s;
}

.ad-1-3s {
  animation-delay: 1.3s;
}

/***** Common Animation End *****/
/***** text color Start *****/
.colorPrime {
  color: #d6001c;
}

/***** text color end *****/
/***** Custom Checkbox Start *****/
.custom-checkbox {
  padding-left: 0px;
}
.custom-checkbox [type=checkbox]:checked,
.custom-checkbox [type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.custom-checkbox [type=checkbox]:checked + label,
.custom-checkbox [type=checkbox]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
.custom-checkbox [type=checkbox]:checked + label:before,
.custom-checkbox [type=checkbox]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 22px;
  height: 22px;
  border: 1px solid #c5a057;
  background: #ffffff;
  border-radius: 100%;
}
.custom-checkbox [type=checkbox]:checked + label:after,
.custom-checkbox [type=checkbox]:not(:checked) + label:after {
  /* content: '';
  width: 12px;
  height: 12px;
  background: $colorSecondary;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; */
  content: "";
  position: absolute;
  top: 13px;
  left: 7px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  width: 7px;
  height: 11px;
  border-color: #231f20;
}
.custom-checkbox [type=checkbox]:not(:checked) + label:after {
  transform: scale(0) translate(0, 0) rotate(45deg);
}
.custom-checkbox [type=checkbox]:checked + label:after {
  transform: scale(1) translate(0, -8px) rotate(45deg);
}

/***** Custom Checkbox End *****/
/***** Custom Radio Start *****/
.custom-radio {
  padding-left: 0;
}
.custom-radio [type=radio]:checked,
.custom-radio [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.custom-radio [type=radio]:checked + label,
.custom-radio [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
.custom-radio [type=radio]:checked + label:before,
.custom-radio [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #c5a057;
  border-radius: 100%;
  background: #ffffff;
}
.custom-radio [type=radio]:checked + label:after,
.custom-radio [type=radio]:not(:checked) + label:after {
  content: "";
  position: absolute;
  top: 13px;
  left: 7px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  width: 7px;
  height: 11px;
  border-color: #231f20;
}
.custom-radio [type=radio]:not(:checked) + label:after {
  transform: scale(0) translate(0, 0) rotate(45deg);
}
.custom-radio [type=radio]:checked + label:after {
  transform: scale(1) translate(0, -8px) rotate(45deg);
}

/***** Custom Radio End *****/
/***** Input Start *****/
.form-label {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form-control {
  border-color: #c5a057;
  background-color: #c5a057;
  border-radius: 16px;
  padding: 12px 16px;
  color: #ffffff;
  border-color: #ffffff;
}
.form-control:focus, .form-control:hover, .form-control:focus-visible {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #c5a057;
}
.form-control::placeholder {
  color: #ffffff;
}

.form-select {
  position: relative;
  background-color: #c5a057;
  border-color: #ffffff;
  border-radius: 16px;
  padding: 12px 16px;
  color: #ffffff;
}

.form-control:focus, .form-control:hover, .form-control:focus-visible,
.form-select:focus,
.form-select:hover,
.form-select:focus-visible,
.form-check-input:focus,
.form-check-input:hover,
.form-check-input:focus-visible {
  box-shadow: none;
  outline: none;
}

/***** Input End *****/
/***** Common Button Start *****/
.btn {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 50px;
}
.btn:hover, .btn:active, .btn:focus, .btn:focus-visible {
  box-shadow: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 10px 1px;
}

.btn-primary {
  color: #ffffff;
  background-color: #231f20;
  border-color: #231f20;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus-visible {
  border-color: #231f20;
  background-color: #231f20;
}
.btn-primary:first-child:active {
  border-color: #231f20;
  background-color: #231f20;
}

.btn-secondary {
  color: #ffffff;
  background-color: #c5a057;
  border-color: #c5a057;
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus-visible {
  border-color: #c5a057;
  background-color: #c5a057;
}
.btn-secondary:first-child:active {
  border-color: #c5a057;
  background-color: #c5a057;
}

/***** Common Button End *****/
/***** Main Menu Start *****/
.main-menu {
  padding: 15px 0px;
  background-color: #c5a057;
  border-bottom: 3px solid #231f20;
}
.main-menu .navbar-brand {
  padding: 0px;
  margin: 0px;
}
.main-menu .navbar-toggler {
  border: 2px dashed #ffffff;
  padding: 8px 10px;
}
.main-menu .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
.main-menu .navbar-toggler .navbar-toggler-icon {
  background-image: url("../images/menu-hamburger-icon.svg");
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}
.main-menu .offcanvas {
  background-color: #c5a057;
  border-left: 0px;
}
.main-menu .offcanvas .offcanvas-header .btn-close {
  background-image: url("../images/menu-close-icon.svg");
  background-repeat: no-repeat;
  opacity: 1;
}
.main-menu .offcanvas .offcanvas-header .btn-close:focus {
  outline: none;
  box-shadow: none;
}
.main-menu .navbar-nav {
  gap: 20px;
}
.main-menu .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  padding: 0px;
  position: relative;
}
.main-menu .navbar-nav .nav-item .nav-link::after {
  background-color: #d6001c;
  content: "";
  height: 0.0625rem;
  opacity: 0;
  position: absolute;
  transform: scale(0);
  left: 0px;
  width: 100%;
  bottom: -5px;
}
.main-menu .navbar-nav .nav-item .nav-link:hover {
  color: #d6001c;
}
.main-menu .navbar-nav .nav-item .nav-link:hover::after {
  opacity: 1;
  transform: scale(1);
}
.main-menu .navbar-nav .nav-item .nav-link.active {
  color: #d6001c;
}
.main-menu .navbar-nav .nav-item .nav-link.active::after {
  opacity: 1;
  transform: none;
}

/***** Main Menu End *****/
/***** Main Wrapper Start *****/
.main-wrapper {
  position: relative;
  background-color: #231f20;
  background-image: url("../images/main-banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.main-wrapper .box-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 450px;
  padding: 50px 20px;
  color: #ffffff;
}
.main-wrapper .box-wrapper .content-wrapper {
  background-color: #c5a057;
  border-radius: 30px;
  border: 2px dashed #ffffff;
  padding: 50px 20px;
  margin: 0px auto;
  overflow: hidden;
}
.main-wrapper .box-wrapper .content-wrapper.register-form-wrapper, .main-wrapper .box-wrapper .content-wrapper.otp-form-wrapper {
  background-image: url("../images/banner.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 150px;
}
.main-wrapper.quest1, .main-wrapper.quest2, .main-wrapper.quest3, .main-wrapper.quest4 {
  background-image: none;
  background-color: #ffd47e;
}
.main-wrapper.quest1 .box-wrapper, .main-wrapper.quest2 .box-wrapper, .main-wrapper.quest3 .box-wrapper, .main-wrapper.quest4 .box-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
  position: relative;
}
.main-wrapper.quest1 .box-wrapper::before, .main-wrapper.quest2 .box-wrapper::before, .main-wrapper.quest3 .box-wrapper::before, .main-wrapper.quest4 .box-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}
.main-wrapper.quest1 .box-wrapper {
  background-image: url("../images/quest1-bg.png");
}
.main-wrapper.quest2 .box-wrapper {
  background-image: url("../images/quest2-bg.png");
}
.main-wrapper.quest3 .box-wrapper {
  background-image: url("../images/quest3-bg.png");
}
.main-wrapper.quest4 .box-wrapper {
  background-image: url("../images/quest4-bg.png");
}

/***** Main Wrapper End *****/
/***** Form Wrapper Start *****/
.register-form-wrapper, .otp-form-wrapper, .question-wrapper, .congratulation-wrapper, .reward-wrapper, .thankyou-wrapper, .questRow {
  display: none;
}

.register-form .input-group .input-group-text {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.register-form .input-group .form-control {
  border-top-right-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.otp-form-wrapper .resend-otp {
  font-size: 12px;
  line-height: 18px;
}
.otp-form-wrapper .resend-otp .timer {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.otp-form-wrapper .resend-otp .resend a {
  color: #c5a057;
  text-decoration: underline;
}
.otp-form-wrapper .resend-otp .resend a:hover {
  color: #c5a057;
}

.reward-wrapper .input-group .input-group-text {
  border: 2px dashed #ffffff;
  border-left: 0px;
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  background-color: transparent;
  padding-left: 15px;
  padding-right: 15px;
}
.reward-wrapper .input-group .form-control {
  border: 2px dashed #ffffff;
  border-right: 0px;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  background-color: transparent;
  color: #ffffff;
}
.reward-wrapper .input-group .form-control::placeholder {
  color: #ffffff;
}
.reward-wrapper .input-group .form-control:focus, .reward-wrapper .input-group .form-control:hover, .reward-wrapper .input-group .form-control:focus-visible {
  background-color: transparent;
}

/***** Form Wrapper End *****/
/***** Footer Start *****/
.footer {
  padding: 50px 0px;
  position: relative;
  z-index: 1;
  background-color: #231f20;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
}
.footer::after {
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%) 0% 0% no-repeat padding-box;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 30%;
  z-index: -1;
}
.footer .contact-info a {
  color: #c5a057;
  text-decoration: underline;
}
.footer .footer-logo a {
  display: inline-block;
  background-color: #c5a057;
  padding: 5px;
  border-radius: 10px;
}
.footer .footer-menu {
  display: flex;
  gap: 20px;
}
.footer .footer-menu .footer-col {
  flex: 1;
}
.footer .menu-list {
  margin-bottom: 0px;
}
.footer .menu-list .item .item-link {
  color: #ffffff;
  display: inline-block;
}
.footer .menu-list .item .item-link:hover {
  text-decoration: underline;
  color: #d6001c;
}
.footer .menu-list .item + .item .item-link {
  margin-top: 10px;
}
.footer .social-media {
  margin-bottom: 0px;
}
.footer .social-media .title {
  color: #ffffff;
  margin-bottom: 10px;
}
.footer .social-media .social-media-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 575px) {
  .footer .footer-menu {
    flex-direction: column;
  }
}
/***** Footer End *****/
/***** Agree Modal Start *****/
.agree-modal .modal-content {
  border-radius: 30px;
}
.agree-modal .modal-content .modal-body {
  background-color: #231f20;
  color: #ffffff;
  border-radius: 30px;
  padding: 20px;
}
.agree-modal .modal-content .modal-body .description {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}
.agree-modal .modal-content .modal-body .description a {
  text-decoration: underline;
  color: #c5a057;
}
.agree-modal .modal-content .agreeForm .error-disAgree {
  display: none;
}

/***** Agree Modal End *****/
/***** Common Animation Key Frame Start *****/
@-webkit-keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes centerZoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes centerZoom {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
/***** Common Animation Key Frame End *****//*# sourceMappingURL=style.css.map */