/*COMMON*/
body{ font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#4d4d4d;}
select::-ms-expand 
{
    display: none;
}
select, .registerform select.form-control
{
    padding-right: 15px;
    background: url(https://www.eruditus.com/programmes/common/images/arrow-new.png) no-repeat 97%;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.registerform select#salutation.form-control
{
	background-position: 90%;
}
h1.mainheading{ position: relative;font-size:15px;background-color:#e6e6e6; /*height:38px;*/ vertical-align:middle; line-height:38px; color:#333333; padding:0 0 0 20px; font-weight:bold; background-image:url(../img/bullet-arrow.png);background-position: left center;border-left: 6px solid #3197d2;background-repeat:no-repeat; margin:0 0 16px 0;}
h1.mainheading:before
{
	/*content: "";
	position: absolute;
    top: 35%;
    left: 0%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #3197d2;*/
}
.rm-padd
{
	padding-left: 0px;
	padding-right: 0px;
}
.rm-padd-right
{
	padding-right: 0px;
}
.rm-padd-left-right
{
	padding-left: 0px;
	padding-right: 0px;
}

/*COMMON*/

/*HEADER*/
.video {
  /*margin: 0 0 30px 0;*/
}
#header{ margin:15px 0;}
#header a{ color:#3197d2;}
#header .container{ border-bottom:2px solid #3197d2;/*border-bottom:2px solid #008fcb;*/ padding-bottom:15px;}
p{ margin:0; padding:0;}
.contactus p{ font-size:15px; color:#222222; font-weight:bold; padding-bottom:3px;}
.contactus span{ color:#278bc5; font-weight:bold;}
.contactus a{ color:#278bc5;}
/*HEADER*/

.table-hover tbody tr:hover td{background-color: #f1f0f0;}     
article#video {
  clear: both;
  margin: 39px 0 0 0;
  padding: 0;
}
/*REGISTRATION FORM*/
h1.register {
background: none repeat scroll 0 0 #278bc5;color: #fff;font-family: arial;font-size: 14px;font-weight: bold;height: 39px;line-height: 39px;margin: 0 0 10px;padding: 0 0 0 20px;}
.dummy{ color:#000;}
.btn
{
	color:#ffffff;
	background-color:#3197d2;
	border-color:#3197d2;
	border-radius:0;
	transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
.btn:focus, .btn:hover, .btn:active
{
	outline: none;
    box-shadow: none;
	color:#3197d2;
	background-color: transparent;
	border-color:#3197d2;
}
.btn-download
{
	clear: both;
	padding: 30px 0px;
	transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
.registerform
{ 
	background:#f0f0f0;
}
.registerform:focus
{
    outline: -webkit-focus-ring-color auto 0px;	
}
.registerform .form-group
{ 
	margin-bottom:8px;
}
.no-padding
{ 
	padding:0;
}
.registerform .btn
{
	width:100%;
	background-color: #fc9700;
	border-color: #fc9700;
    padding: 13px 16px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.registerform .btn:focus, .registerform .btn:hover, .registerform .btn:active
{
	background-color: transparent;
	border-color: #fc9700;
	color: #fc9700;
}

/*.btn_blue { background:#3197d2; color:#fff; border-radius:0;border-color:none; padding:6px 0px; border:0 none; width:100%; }
.btn-blue:hover,.btn-default:hover{ color:#fff;  background:#000;border-radius:0;border-color:none; }*/
.col-sm-2.np {padding-right: 0;}
.mt{ margin-top:8px;}
.buttonsa{ padding-top:20px; padding-bottom:10px;}
.dummyemail{ padding:0 0 10px 0; clear:both; margin:0 0 10px 0;}
.registerform legend{background: none repeat scroll 0 0 #3197d2;
color: #fff;font-family: arial;font-size: 16px;font-weight: bold;height: 37px;line-height: 37px;margin: 0 0 10px;padding: 0 0 0 20px; font-weight:normal;}
.registerform .form-control{ font-size:12px; height:26px; border-radius:0; padding:3px 6px; color: #000;}
.registerform .salutation { left: 15px;padding-left: 0px;padding-right: 2px; }
.registerform .first_name, .registerform .city, .registerform .email, .registerform .company, .registerform .designation { padding-right: 1px; }
.registerform .last_name, .registerform .country, .registerform .mobile_num, .registerform .industry, .registerform .experience, .registerform .designation-role { padding-left: 1px; }
.registerform .country_code { padding-left: 0px;padding-right: 0px; }
.registerform .number { padding-left: 0px;padding-right: 0px;padding-top: 0; }
select.error, input[type=text].error, input[type=email].error, textarea.error, input.error {
    border: 1px solid #dc3737;
}
.form-container{ padding:0 10px;}
/*REGISTRATION FORM*/

/*About Program*/
.about-program{ text-align:justify; line-height:21px;}
p.about-program {padding: 0 0 20px 0;}
/*About Program*/
.left-section { padding-bottom: 20px; }
#second .table-condensed > thead > tr > th, #second .table-condensed > tbody > tr > th, #second .table-condensed > tfoot > tr > th, #second  .table-condensed > thead > tr > td, #second .table-condensed > tbody > tr > td, #second .table-condensed > tfoot > tr > td{ padding:6px 20px; line-height:21px;}
.note{ font-size:12px; color:#9f9f9f; font-style:italic; /*padding: 0px 0px 10px;*/ display:block;}
/* CURRICULUM */
img.grayscale {
   filter: none;
  -webkit-filter: grayscale(0%);
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
	
}

.testimonials{ /*margin: 20px 0 0 0;*/ }

img.grayscale:hover {
	 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */

}
.video{ /*margin-bottom: 20px;*/}
.slider1{ border:1px solid #ccc; padding:5px 0 5px 20px; clear:both;}
.slider1 img{}
.slider1 .col-md-2{width:12.5%;}
.slider1 ul li{ float:left;}
.heading{ font-size:15px; color:#333333; font-weight:bold;}
.number{ font-size:25px; padding:4px 0 0 0;}
.table-bordered th{/*background:#3197d2;*/background-color: #e6e6e6; color:#333333;/*color:#fff;*/ font-size:13px;}
ol{
				counter-reset: li;
				list-style: none;
				*list-style: decimal;
			
				padding: 0;
				/*margin-bottom: 4em;*/
				text-shadow: 0 1px 0 rgba(255,255,255,.5);
			}
.rectangle-list a{
				position: relative;
				display: block;
				padding: .4em .4em .4em .4em;
				*padding: .4em;
				margin: .5em 0 .5em 2.5em;
				
				color: #4d4d4d;
				text-decoration: none;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				-ms-transition: all .3s ease-out;
				-o-transition: all .3s ease-out;
				transition: all .3s ease-out;	
				cursor: default;
			}

			.rectangle-list a:hover{
				background: #eee;
			}	

			.rectangle-list a:before{
				content: counter(li);
				counter-increment: li;
				position: absolute;	
				left: -2.5em;
				top: 50%;
				margin-top: -1em;
				background: #3197d2;
				height: 2em;
				width: 2em;
				color:#fff;
				line-height: 2em;
				text-align: center;
				font-weight: bold;
			}
			
			.rectangle-list a:after{
				position: absolute;	
				content: '';
				border: .5em solid transparent;
				left: -1em;
				top: 50%;
				margin-top: -.5em;
				-webkit-transition: all .3s ease-out;
				-moz-transition: all .3s ease-out;
				-ms-transition: all .3s ease-out;
				-o-transition: all .3s ease-out;
				transition: all .3s ease-out;				
			}

			.rectangle-list a:hover:after{
				left: -.5em;
				border-left-color: #3197d2;				
			}

ul.program-points{ padding:0 0 0 20px; margin:0; list-style-position:outside; /*list-style-image:url(../img/list-image.jpg);*/}
ul.program-points li{ padding-bottom:10px;color:#4d4d4d;}
ul.program-points li span{ }
span.color{ color:#3197d2;/*color:#008fcb;*/ font-weight:bold; }

.infotable{}
.infotable td{ padding:5px 0 5px 5px;}

.alumni-list .col-md-3.col-sm-3 {
height: 225px;
}



.contact-box{ background:#3197d2;/*background:#008fcb;*/}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.form-horizontal h1 {
background: none repeat scroll 0 0 #278bc5;
color: #fff;
font-family: arial;
font-size: 14px;
font-weight: bold;
height: 36px;
line-height: 36px;
margin: 0 0 10px;
padding: 0 0 0 20px;
}
.form-horizontal{ background:#f0f0f0;}
.form-container{ padding:10px 18px;}
.space{ padding:35px 0 0 0; clear:both;}

.alumni-list{}
.alumni-list span{ color:#3197d2; display:block; text-align:center; font-size:12px;display:block; font-weight:bold; padding:13px 0 3px 0;}
.alumni-list i{ color:#666666; font-size:12px; text-align:center; display:block;}
.thankyou{ min-height:390px;}


.connect-box{ background:#3197d2;/*background:#008fcb;*/ text-align:center; color:#fff; padding:52px 0;}
.connect-box a{ color:#fff;}
.connect-box p{ font-size:16px;}
.connect-box span{ font-size:13px;}

#logos h5{ padding:10px 0 5px 0;}
#logos{ padding-bottom:75px;}
.small-head{ color:#666; font-size:14px; font-weight:bold; padding-bottom:10px;}


#demo {

	/*background-color: #3197d2;*/
	position: relative;
	
}

#demo:after, #demo:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	left: 100%;
	position: absolute;
	width: 0;
}
ul.location{ list-style:none; padding:0; margin:10px 0 0 20px;}
.location-table th{ vertical-align:top;}
.location-table span,.location-table p{ padding:0 0 0 20px; display:block;}
#demo:after {
	border-width: 9px;
	/*border-left-color: #3197d2;*/
	border-left-color: #e6e6e6;
	top: 10px;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td{ border-bottom-width:1px;}


ul.alumni{ }
ul.alumni{ padding:0 0 0 20px; margin: 0px; /*margin-bottom:20px;*/  list-style-position:outside; list-style-image:url(../img/arrow.png);}
ul.alumni li{ padding-bottom:10px;color:#4d4d4d;}
ul.alumni li:last-child { padding-bottom: 0px; }
.location-table{ width:100%; font-size:13px; /*margin-bottom:30px;*/}

.location-table .table-condensed > thead > tr > th,.location-table  .table-condensed > tbody > tr > th, .location-table .table-condensed > tfoot > tr > th,.location-table  .table-condensed > thead > tr > td, .location-table .table-condensed > tbody > tr > td, .location-table .table-condensed > tfoot > tr > td{ padding:10px;}

.round-table{ width:100%;}

.round-table.table-condensed > thead > tr > th,.round-table.table-condensed > tbody > tr > th, .round-table.table-condensed > tfoot > tr > th,.round-table  .table-condensed > thead > tr > td, .round-table.table-condensed > tbody > tr > td, .round-table.table-condensed > tfoot > tr > td{ padding:10px;}

.video-slider 
{
	/*padding-bottom: 30px;*/
	transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
}
.item-video { height: 250px; }
#video{margin:73px 0 0 0;}
#video .container{  border-bottom:4px solid #3197d2;/*border-bottom:4px solid #008fcb;*/ padding-bottom:20px;}

#eru-logo{ padding:20px 0 20px 0;}
.selectPlaceholder{color:#333}
.connect-box p {
font-size: 19px;
}
.connect-box p {
font-size: 21px;
padding: 10px 0;
}
.connect-box p {
font-size: 19px;
padding: 10px 0;
}
.connect-box {
background: #3197d2;
/*background: #008fcb;*/
text-align: center;
color: #fff;
padding: 34px 0;
}
.connect-box span{ line-height: 36px; font-size: 16px;}
.rvs-container.rvs-horizontal { padding-bottom: 68px; }
.rvs-horizontal .rvs-nav-container { height: 68px; }
.rvs-xs.rvs-sm.rvs-md .rvs-nav-container h4.rvs-nav-item-title, .rvs-hide-credits .rvs-nav-container h4.rvs-nav-item-title  { display: none; }
.rvs-horizontal.rvs-xs.rvs-sm.rvs-md .rvs-nav-container a.rvs-nav-item, .rvs-horizontal .rvs-nav-container a.rvs-nav-item { width: auto !important; }
.rvs-xs.rvs-sm.rvs-md .rvs-nav-container span.rvs-nav-item-thumb, .rvs-nav-container span.rvs-nav-item-thumb { margin: 0px; }
footer
{
	border-bottom: 4px solid #3197d2;
	/*border-bottom: 4px solid #008fcb;*/
    padding-bottom: 20px;
}

@media only screen and (max-width:767px)
{

	.rvs-nav-container span.rvs-nav-item-thumb { display: block;width: 85px; }
	.pull-right
	{

	float:none !important
	}

	.program-details 
	{
	    color: #278bc5;
	    font-size: 15px;
	    line-height: 22px;
	}
	.program-details .title
	{
	    color: #4d4d4d;	
	}

	.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	    display: block;
	    max-width: 100%;
	    height: auto;
		margin:0 auto;	
	}
	.heading
	{
		padding-top: 20px;
	}
	.round-table { margin-bottom: 30px; }

}


@media screen and (min-width:320px) and (max-width:767px)
{
	h1.mainheading { line-height: 30px; }
	h1.mainheading.mobileheading{
	/*line-height: 17px;*/
	/*line-height: 17px;*/
	/*height: 38px;*/
	/*padding: 2px 0 0 18px;*/
	}
	.item-video { height: 200px; }
	#video{ /*margin:20px 0 20px 0;*/}
	img.img-responsive.grayscale { margin: 0 auto; }
	.connect-box { padding: 20px;margin: 10px auto 10px 15px;width: 94%; }
	.alumni-list .col-md-3{ margin-bottom:20px;}
	.slider1{ padding:10px 0;}
	.slider1 .col-md-2{ width:100%;}
	.slider1 .col-md-2 img{ display:block; margin:0 auto;}
	#second .col-md-4{ margin-bottom:10px;}
	.contactus{ margin:20px auto 0 auto; text-align:center;}
	.col-md-6.logo img { margin: 0 auto; }
	h1.mainheading { /*font-size: 12px;*/ }
	body { font-size: 12px;line-height: 16px; }
	#second .table-condensed > thead > tr > th, #second .table-condensed > tbody > tr > th, #second .table-condensed > tfoot > tr > th, #second .table-condensed > thead > tr > td, #second .table-condensed > tbody > tr > td, #second .table-condensed > tfoot > tr > td { padding: 6px 13px;line-height: 21px; }
	#second { padding: 20px 0 0 0; }
	.connect-box p { line-height: 1.4; }
}
@media screen and (min-width:768px) and (max-width:1024px)
{
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{ float:left;}
}


@media screen and (min-width:768px) and (max-width:1024px)
{
	.container { width: 769px; }
	.alumni-list .col-md-3.col-sm-3.col-xs-3 { height: 225px; }
}

input[type='text'] { color: #333; }
input[type='email'] { color: #333; }