$color1: #FDEE9B;
$color2: #BE8B21;
$color3: #f5f5f5;
$color4: #3c3c3c;
$color5: #FFEFB9;
$color6: #6ACE7F;
$color7: #FFEBEB;
$color8: #BE8B21;
$color9: #F79900;
$color10: #FFEED1;
$color11: #DAFFE1;
$color13:#C19027;
$color15:#CCCCCC;
$color16:#E5813E;
$color17:#FF560E;
$color18:#FFDDCF;
$color19:#357D44;
$color20:#FFE0E0;
$color21:#EBEBEB;
$color22:#D6D6D6;
$color23:#664900;
$color24:#585858;
$color25:#B78629;
$color26:#4AAA3E;
$color27:#CFA43B;
$color28:#CAA95D;
$colorPeach: #b59e74;
$colorWhite: #ffffff;
$colorlightBlack:#242424;
$colorBlack: #000000;
$colorRedBorder: #ff4747;
$colorFormBorder: #919191;
$colorFaqBorder: #bfbfbf;
$colorgrey:#333333;
