/* http://www.menucool.com/jquery-slider */

#mob-thumbnail-slider {
    margin:0 auto; /*center-aligned*/
    width:100%;/*width:400px;*/
    max-width:500px;
    /*padding:20px;*/
    /*background-color:#f2f1ea;*/
    /*box-shadow: 0 2px 6px rgba(0,0,0,0.3);*/
    box-sizing:border-box;
    position:relative;
    -webkit-user-select: none;
    user-select:none;
}

#mob-thumbnail-slider div.inner {
    /*the followings should not be changed */
    position:relative;
    overflow:hidden;
    padding:2px 0;
    margin:0;
    padding: 0px;
}

 
#mob-thumbnail-slider div.inner ul {
    /*the followings should not be changed */
    white-space:nowrap;
    position:relative;
    left:0; top:0;
    list-style:none;
    font-size:0;
    padding:0;
    margin:0;
    float:left!important;
    width:auto!important;
    height:auto!important;
}

#mob-thumbnail-slider ul li {
    display:inline-block;
    *display:inline!important; /*IE7 hack*/
    border:1px solid #dadada;
    margin:0;
    margin-right:10px; /* Spacing between thumbs*/
    transition:border-color 0.3s;
    box-sizing:content-box;
    text-align:center;
    vertical-align:middle;
    padding:0;
    position:relative;
    list-style:none;
    backface-visibility:hidden;
    backface-visibility: hidden;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#mob-thumbnail-slider ul li:hover {
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
}

#mob-thumbnail-slider ul li.active {
    border-color:#000000;
    -webkit-filter: initial;
    filter: initial;
}

#mob-thumbnail-slider .thumb {
    opacity:1;
    width:100%;
    height: 100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    position:absolute;
    font-size:0;
}

/* --------- navigation controls ------- */
/* The nav id should be: slider id + ("-prev", "-next", and "-pause-play") */

#mob-thumbnail-slider-pause-play {display:none;} /*.pause*/

#mob-thumbnail-slider-prev, #mob-thumbnail-slider-next
{
    opacity:1;
    position: absolute;
    /*background-color:#0346a3;*/
    *background-color:#ccc;/*IE7 hack*/
    backface-visibility:hidden;
    width:30px;
    /*height:60px;*/
    height: 100%;
    line-height:60px;
    top: 0%;
    margin:0;
    /*margin-top:-30px;    */
    z-index:10;
    cursor:pointer;
    background-color: rgba(0,0,0,0.4);
    color: #ffffff;
}

#mob-thumbnail-slider-prev {
    /*left:-30px; right:auto;*/
    left: 0px; right:auto;
}

#mob-thumbnail-slider-next {
    /*left:auto; right:-30px;*/
    left:auto; right: 0px;
}
#mob-thumbnail-slider-next.disabled, #mob-thumbnail-slider-prev.disabled {
    opacity:0.1;
    cursor:default;
}


/* arrows */
#mob-thumbnail-slider-prev::before, #mob-thumbnail-slider-next::before {
    position: absolute;
    top: 45%;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-left: 6px solid #ffffff;
    border-top: 6px solid #ffffff;
}

#mob-thumbnail-slider-prev::before {
    left:10px;
    -ms-transform:rotate(-45deg);/*IE9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
}

#mob-thumbnail-slider-next::before {
    right:10px;
    -ms-transform:rotate(135deg);/*IE9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
}

/*Responsive settings*/
@media only screen and (max-width:767px)
{

    #mob-thumbnail-slider {padding:10px 26px;}

    #mob-thumbnail-slider-prev {left:0px;}

    #mob-thumbnail-slider-next {right:0px;}

    #mob-ninja-slider-prev, #mob-ninja-slider-next { width: 34px;height: 46px; }
    #mob-ninja-slider-prev::before, #mob-ninja-slider-next::before { width: 14px;height: 14px; }
}