$colorPrimary: #d6001c;
$colorSecondary: #c5a057;
$colorLightSecondary: #ffd47e;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorlightGrey: #7B7B7B;
$colorlightestGrey: #F5F5F5;
$colorDarkGrey: #3B3B3B;
$colorDarkestGrey: #1D1D1B;
$green: #198754;