$colorPrimary: #cd2d40; //main red
$colorPrimaryLt: #f3e6e7; // main red light
$colorGradRed: #cd2d40; // main red light grad
$colorGradDarkRed: #940006; // main red light grad dark
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorDarkGrey: #272727;
$colorDarkGrey2: #575757;
$colorMidGrey: #b3b3b3;
$colorMidGrey2: #ececec; // used in footer icons and download app
$colorLightGrey: #f5f5f7;
$colorGreyBorder: #8f8f8f;
$colorLightGreyBorder: #d6d6d6;
$color3: #c2c2c2;
$color4: #989898;
$color5: #BFBFBF;
$color6: #D4D4D4;
