@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=account_box,add,arrow_back_ios_new,call,category,edit,favorite,gallery_thumbnail,keyboard_arrow_down,kid_star,local_activity,location_on,mail,recommend,remove,reviews,search,share,slideshow,support_agent,swap_vert,thumb_up,tune,verified,verified_user,workspace_premium&display=block");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@mixin fontFamily($fontType, $fontWeight) {
  font-family: $fontType, Arial, Helvetica, sans-serif;
  font-weight: $fontWeight;
}

@mixin fontSizeLineHeight($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
}
