@font-face {
	font-family: 'Franklin Gothic Book';
	src: url('fonts/FranklinGothic-Book.eot');
	src: url('fonts/FranklinGothic-Book.eot?#iefix') format('embedded-opentype'),  url('fonts/FranklinGothic-Book.woff') format('woff'),  url('fonts/FranklinGothic-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Franklin Gothic Medium Cond';
	src: url('fonts/FranklinGothic-MediumCond.eot');
	src: url('fonts/FranklinGothic-MediumCond.eot?#iefix') format('embedded-opentype'),  url('fonts/FranklinGothic-MediumCond.woff') format('woff'),  url('fonts/FranklinGothic-MediumCond.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Franklin Gothic';
	src: url('fonts/FranklinGothic-Medium.eot');
	src: url('fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/FranklinGothic-Medium.woff') format('woff'),
		url('fonts/FranklinGothic-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

body {
	margin: 0 auto;
	
	font-size: 16px !important;
	color: #181818;
	font-family: 'Franklin Gothic Book' !important;
	
}
.table > tbody > tr > td, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 10px 8px !important;
}
.pt {
	padding: 10px 0px;
}
.mt {
	margin-top: 20px;
}
.upcontact {
	float: right;
	font-weight: bold;
	margin: 0 auto;
}
.upcontact a:link, a:visited {
	color: #007056;
}
.upcontact p {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 0px;
}
.thankyou {
	height: 100%;
	padding: auto;
}
.testimonial {
	color: #007056;
	font-style: italic;
	text-align: right;
	font-weight: bold;
}
.quots {
	color: #ccc;
	font-size: 25px;
	font-weight: bold;
}
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
	color: #fff;
	background-color: #007056;
	border-color: #269abc
}
.border-top {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
a:link, a:visited {
	border: 0;
	outline: 0;
}
h1.heading {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	border-left: 6px solid #368db9;
	background-repeat: no-repeat;
	background-color: #e6e6e6;
	padding: 10px 10px 10px 15px;
	line-height:26px;
	background-position: left center;
	font-weight: bold;
	margin: 25px 0px;
}
.heading3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #368db9;
}
.banner {
	position: relative;
	margin-bottom: 30px;
	padding:60px 30px 40px 30px;
	background-color:#368db9;
}
.banner .container{
	padding:0px;
}
.intro{
	font-size:18px;
	color:#ffffff;
	margin:0px;
}
a.intro{
	font-size:18px;
	color:#ffffff;
	margin:0px;}
h2.form-head {
	background-color: #B20838;
	font-size: 16px;
	line-height: 2.2em;
	padding-left: 20px;
	font-weight: normal;
	color: #fff;
}

.curriculum-wrapper {
	width: 100%;
}
.curriculum-info{
	list-style:none;
	font-size:16px;
}
/********************    New styles 2 June  ***********************/

.border-bt {
	border-bottom: 1px dotted #007056;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.np {
	margin: 0;
	padding: 0;
}
.participant {
	width: 100%;
}
.faculty {
	float: left;
	text-align: center;
	width: 11%;
	margin-right: 10px;
	margin-bottom: 10px;
	min-height: 275px;
}
.faculty-image {
	float: left;
	text-align: center;
	width: 40%;
	border: 1px solid #007056;
	margin: 0px 0px 10px 0px;
}
.faculty-text {
	width: 60%;
	float: left;
}
.faculty-text p {
	padding: 0px 5px 0px 10px;
	margin-bottom: 5px;
}
.faculty-text p strong {
	color: #007056;
}
.faculty img {
	border: 2px solid #007056;
	margin-bottom: 10px;
}
.red-head {
	color: #007056;
	font-weight: 600;
}
.faculty p {
	margin: 0 0 5px 0;
	padding: 0;
	line-height: 1.5em;
}
.participant ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.alumni ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.alumni ul li {
	float: left;
	margin-bottom: 10px;
}
.alumni-list {
	width: 33%;
}
.alumni-list p {
	margin: 0px 0 0 0;
	padding: 0;
}
img.responsive.border {
    border: 1px solid #e6e6e6;
}
.responsive {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 auto;
}
.sloan-list {
	width: 24%;
	float: left;
	min-height: 165px;
	max-height: auto;
}
li .sloan-list {
	float: left;
}
.sloan-list img {
	border: 2px solid #007056;
	float: left;
	margin-right: 10px;
}
.head-br {
	border-bottom: 2px solid #007056;
	color: #007056;
	line-height: 2em;
	font-weight: 600;
}
.no-list-style li {
	margin-right: 10px;
	margin-bottom: 10px;
}
.position {
	font-size: 11.5px;
	font-style: italic;
	color: #333;
}
.benefits ul {
	list-style-image: url(images/bullet.png);
	vertical-align: middle;
	line-height: 2em;
}
.sublist {
	margin: 0px 10px 10px 30px;
	line-height: 2em;
	list-style-type: initial;
}
#mobile-no {
	display: block;
}
.form-horizontal p.bt-text {
	font-size: 14px;
	color: #666;
	font-style: italic;
	margin: 0;
	padding: 0;
	text-align: center;
}
.num {
	font-size: 30px;
	color: #007056;
	font-weight: bold;
}
.text {
	font-size: 16px;
	font-weight: bold;
}
.square {
	margin: 30px 0px;
}
#ranking .col-sm-1 {
	width: 4% !important;
}
.border-r {
	border-right: 1px dotted #ccc;
}
.table {
	border: 1px solid #ccc;
}
.table > tbody > tr > td, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 15px 8px;
}
.mobile-res {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 auto;
	min-height: 390px;
}
.line {
	border-right: 1px solid #015542;
}
.contactbox {
	color: #fff;
}
.contactbox a {
	color: #fff;
}
.line p {
	color: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 21px;
	padding: 10px 0px;
}
.contactbox {
	background: #007056;
	margin-bottom: 20px;
}
.email {
	padding: 10px;
	font-weight: bold;
}
/* carousel */

.back-image {
	background-image: url(images/banner2-bck.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.background {
	background-color: rgba(0,112,86,.9);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	color: #fff;
}
.test-head {
	font-size: 25px;
	line-height: 1.7;
}
.test-head span {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}
#quote-carousel {
	padding: 0 10px 30px 10px;
	margin-top: 30px;
}
#quote-carousel .carousel-inner > .item {
	min-height: 210px;
}
/* Control buttons  */
#quote-carousel .carousel-control {
	background: none;
	color: #222;
	font-size: 2.3em;
	text-shadow: none;
	margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left {
	left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right {
	right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li {
	background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
	background: #333333;
}
/* End carousel */

.item blockquote {
	border-left: none;
	margin: 0;
}
.item blockquote p {
	font-style: italic;
	font-family: 'proxima_nova_rgregular';
	font-size: 18px;
	line-height: normal;
}
.table 
{
	margin: 0px;
}
.table thead > tr > th
{
	background-color:#007056; 
	color:#fff;
    border-bottom-width: 0px;	
}
.location-table 
{
    margin-bottom: 0px;
}
.location-table span, .location-table p 
{
    padding: 0 0 0 20px;
    display: block;
}
ul.location 
{
    list-style: none;
    padding: 0px 0px 0px 20px;
    /*margin: 10px 0 0 20px;*/
    margin-bottom: 0px;
}
.pt-5
{
	padding-top: 5px;
}
.pt-10
{
	padding-top: 10px;
}
.pt-15
{
	padding-top: 25px;
	padding-bottom: 10px;
}
.pt-20
{
	padding-top: 20px;
}
.mt-5
{
	margin-top: 5px;
}
.mt-10
{
	margin-top: 10px;
}
.mt-15
{
	margin-top: 15px;
}
.mb-5
{
	margin-bottom: 5px;
}
.mb-10
{
	margin-bottom: 10px;
}
.mb-15
{
	margin-bottom: 15px;
}
.mb-20
{
	margin-bottom: 20px;
}
.mtb-15
{
	margin: 20px 0px;
}
.mtb-20
{
	margin: 20px 0px;
}
button.btn.btn-dark a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 9px;
}
button.btn.btn-dark{
	background:#000000;
}
.btn-arrow:hover {
    text-decoration: none;
}
.btn-large {
    font-size: 23px;
    /* line-height: 38px; */
    padding: 5px 20px;
}
.btn-arrow {
    background-color: black;
}
.btn-arrow {
    position: relative;
    color: white;
    white-space: nowrap;
    display: inline-block;
    border: 0;
    line-height: 32px;
    padding: 0 17px;
    cursor: pointer;
    margin-right: 10px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
}
#owl-demo .item{
  margin: 0px;
}
#owl-demo .item img{
  display: block;
  width: auto;
  height: auto;
}
.owl-theme .owl-nav [class*=owl-] {
    padding: 2px 19px;
}
.owl-prev{
	content: '';
    border-top: 4px solid #a51f36;
    border-left: 4px solid #a51f36;
    transform: rotate(-46deg) skew(0deg);
    -o-transform: rotate(-46deg) skew(0deg);
    left:20px;
    position: absolute;
    overflow: hidden;
    font: -webkit-control;
    display: inline-block;
	height:3em;
	width:3em;
    top: 8%;
}


.owl-next{
	content: '';
    border-top: 4px solid #a51f36;
    border-left: 4px solid #a51f36;
    transform: rotate(136deg) skew(0deg);
    -o-transform: rotate(136deg) skew(0deg);
    position: absolute;
    right:20px;
    background: white;
    font: -webkit-control;
    overflow: hidden;
    display: inline-block;
	height:3em;
	width:3em;
    top: 8%;
    font: normal normal normal 1/1 FontAwesome;
}
.owl-theme .owl-nav [class*=owl-],.owl-theme .owl-nav [class*=owl-]:hover{
	background:transparent;
}
.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    margin: 5px;
    padding: 4px 7px;
    background: transparent !important;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-theme .owl-nav [class*=owl-]{
	font-size:12px !important;
}
button.btn.btn-dark:hover, button.btn.btn-dark:focus, button.btn.btn-dark:active{
	
}
/**
  MEDIA QUERIES
*/





@media only screen and (max-width: 1199px) {
.sloan-list {
	width: 32%;
	float: left;
	min-height: 175px;
}
.dates {
	top: 55%;
	left: 4%;
}
.form {
	right: 2%;
}
}
 @media only screen and (max-width: 991px) {
	.mobile-res {
		/*min-height: 360px;*/
	}
	.form-horizontal .col-sm-2 {
		width: 18.6%;
		float: left;
		margin: 0;
		padding: 0;
	}
	.form-horizontal .form-control {
		padding: 3px;
	}
	.form-horizontal .col-sm-5 {
		width: 39%;
		float: left;
	}
	.form-horizontal .col-sm-6 {
		margin: 0 8px 0 0;
		padding: 0;
	}
	.form-horizontal .col-sm-6 {
		margin: 0 1px 0 1px;
		padding: 0;
		width: 49%;
		float: left;
	}
	.form-horizontal .col-sm-3 {
		width: 25%;
		float: left;
	}
	.form-horizontal .col-sm-9 {
		width: 75%;
		float: left;
	}
	.form-horizontal p.bt-text {
		font-size: 11px;
		color: #666;
		font-style: italic;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.btn {
		/*margin: 10px 0px;*/
	}
	.form-horizontal select .form-control {
		width: 99%;
	}
	.footer-box {
		padding: 6% 2%;
		margin-top: 0px;
	}
	.foot-head {
		font-size: 17px;
	}
	.faculty {
		float: left;
		text-align: center;
		width: 25%;
		margin-right: 0;
		margin-bottom: 10px;
		min-height: 253px;
	}
	.sloan-list {
		width: 48%;
		float: left;
		min-height: 190px;
	}
	.dates {
		top: 45%;
		left: 4%;
	}
}
 @media only screen and (min-width: 991px) {
	ul.client-slider li.col-lg-1 {
		width: 20%;
	}
}
@media only screen and (max-width:800px) 
{
	.table-responsive { margin-bottom: 0px; }
	.no-more-tables { border: 0; }
	.no-more-tables table { position: relative; }
	.no-more-tables table, .no-more-tables thead, .no-more-tables tbody, .no-more-tables th, .no-more-tables td, .no-more-tables tr { display: block;border: none; }
	.no-more-tables .table>tbody>tr>td, .no-more-tables .table>tbody>tr>th, .no-more-tables .table>thead>tr>td, .no-more-tables .table>thead>tr>th { border: none;border-bottom: 1px solid #dddddd; }
	.no-more-tables .table>tbody>tr>td:last-child { border-bottom: none; }
	.no-more-tables thead tr { position: absolute;top: -9999px;left: -9999px; }
	.no-more-tables tr { border: 1px solid #ccc;margin-bottom: 15px; }
	.no-more-tables tr:last-child { margin-bottom: 0px;  }
	.no-more-tables .table>tbody>tr>td, .no-more-tables .table>thead>tr>td { position: relative;
		padding-left: 50% !important;white-space: normal;text-align:left; }
	.no-more-tables td:before { content: attr(data-title); }
	.no-more-tables td:before { position: absolute;top: 10px;left: 10px;width: 45%;padding-right: 10px;white-space: nowrap;text-align:left;font-weight: bold; }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#quote-carousel {
		margin-bottom: 0;
	}
	.flex-section{
		padding:0px;
		align-items: center;
		display: -webkit-flex;
		-webkit-align-items: center;
		align-items: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;	
			
		}
}


 @media only screen and (max-width: 768px) {
	.background
	{
		padding-bottom: 40px;
	}
	.upcontact {
		float: none;
	}
	.footer-box {
		padding: 6% 2%;
		margin-top: 10px;
	}
	/* Make the indicators larger for easier clicking with fingers/thumb on mobile */
	    
	#quote-carousel .carousel-indicators {
		bottom: -20px !important;
	}
	#quote-carousel .carousel-indicators li {
		display: inline-block;
		margin: 0px 5px;
		width: 15px;
		height: 15px;
	}
	#quote-carousel .carousel-indicators li.active {
		margin: 0px 5px;
		/*width: 15px;*/
		/*height: 15px;*/
	}
}
@media only screen and (max-width: 767px) {
	
	.intro{
		padding:0px 0px 20px 0px!important
	}
	.banner .container{
		padding:0px 10px;
	}
	.banner {
		padding:40px 30px 40px 30px;
		background-color:#368db9;
	}
	.image-icon{
		padding:0px;
	}
	.mob-mb-25
	{
		margin-bottom: 25px;
	}
	.header-border
	{
		text-align: center;
	}
	.logo
	{
		padding-bottom: 10px;
	}
	.county-list {
		margin: 0 auto;
		width: 30%;
	}
	.mo-center {
		text-align: center;
	}
	#mobile-no {
		display: none;
	}
	.mobile-res {
		width: auto\9;
		height: auto;
		max-width: 100%;
		vertical-align: middle;
		margin: 0 auto;
		min-height: 190px;
		/*min-height: 1px;*/
	}
	.form {
		position: relative;
		right: 0;
		top: 0;
	}
	.dates {
		left: 0px;
		top: 0px;
		position: absolute;
		margin: 20px auto;
	}
	.form-horizontal {
		margin: 20px 0px;
		/*margin: 20px auto;*/
		/*width: 94%;*/
		padding: 0px;
	}
	.banner {
		margin-bottom: 0px;
	}
	#ranking .col-sm-1 {
		width: 100% !important;
	}
	.border-r {
		border-right: none;
	}
}
 @media only screen and (max-width: 579px) {
	.faculty {
		float: left;
		text-align: center;
		width: 50%;
		margin-right: 0;
		margin-bottom: 10px;
		min-height: 236px;
	}
	.sloan-list {
		width: 98%;
		float: left;
		min-height: 175px;
	}
	#mobile-no {
		display: none;
	}
	.dates h3 {
		font-size: 18px;
		font-weight: normal;
	}
	.dates p {
		font-size: 15px;
	}
}
 @media only screen and (max-width: 480px) {
	.footer-box {
		padding: 6% 2%;
		margin-top: 10px;
	}
	.owl-prev,.owl-next{
		top:4%;	
	}	
	.alumni-list {
		width: 50%;
	}
	#mobile-no {
		display: none;
	}
	.mobile-res {
		/*min-height: 190px;*/
	}
}
 @media only screen and (max-width: 400px) {
	#new-faculty .col-xs-6 {
		width: 100%;
	}
}
