$white: #FFFFFF;
$black: #000000;
$color1: #f37d1f;
$color2: #ad1e23;
$color3: #f98e39;
$color4: #eee4dc;
$color5: #414042;
$color6: #921115;
$color8: #fff0e5;
$color9: #a0a0a0;
$color10: #ebebeb;
$color11: #d3d3d3;
$color12: #f1f2f2;
$color13: #fae8da;
$color14: #b55d1e;
$color15: #dcddde;
$color16: #db2127;
$color17: #ef4b22;
$color18: #f47d20;