$colorPrimary: #e31837;
$colorBlack: #000000;
$colorDarkGrey: #231f20;
$colorMidGrey: #3b3b3b;
$colorGrey: #4d4d4f;
$colorLightGrey: #e6e7e8;
$colorWhite: #ffffff;
$colorLandingBg: #324059;
$colorLoginBg: #97b8bf;
$colorInputs: #7b7b7b;
