@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Lato:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@mixin fontFamily($fontType, $fontWeight) {
  font-family: $fontType, Arial, Helvetica, sans-serif;
  font-weight: $fontWeight;
}

@mixin fontSizeLineHeight($fontSize, $lineHeight) {
  font-size: $fontSize;
  line-height: $lineHeight;
}
