form.form-horizontal.mCustomScrollbar{
    background:#e2e2e1;
    font-family:Roboto,sans-serif;
    padding:0
}
.download_padding{
    margin-top:65px!important;
    margin-bottom:30px!important;
    padding:0 20px
}
@media only screen and (min-width:1300px){
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:45px;
        line-height:18px
    }
    .p-tb-10{
        padding-top:10%;
        padding-bottom:8%
    }
}
@media only screen and (min-width:1023px){
    .col14.col-xs-6.box{
        width:14.2%;
        float:left
    }
}
@media only screen and (max-width:1280px){
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:42px;
        line-height:18px
    }
    .banner-content h1{
        font-family:robotobold;
        font-size:41px;
        color:#fff;
        line-height:47px;
        margin-bottom:3px
    }
}
@media only screen and (max-width:1270px){
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:22px;
        line-height:18px
    }
}
@media screen and (min-width:986px) and (max-width:1100px){
    li.blocks__name{
        padding:18px
    }
    .row.icon-row h4{
        margin-top:30px;
        font-family:robotobold;
        text-transform:capitalize;
        line-height:18px;
        color:#272525;
        font-size:15px
    }
}
@media only screen and (max-width:1024px){
    .banner-content{
        font-size:45px
    }
    .info-box{
        width:302px
    }
    .img-holder{
        width:16%
    }
    .img-content{
        width:75%;
        font-size:18px
    }
    legend{
        width:65%!important
    }
    fieldset{
        height:420px
    }
}
@media screen and (min-width:799px) and (max-width:990px){
    fieldset{
        height:auto
    }
    li.blocks__name{
        padding:30px 17px
    }
    .col20.col-xs-6.box{
        width:50%!important
    }
    form.contact-form .control-label{
        font-size:12px;
        padding:0
    }
    .counter-row{
        margin-top:91px;
        padding:0;
        margin-bottom:62px
    }
    .xbanner-bg{
        background:url(../../assets-data/images/banner_diploma.jpg) no-repeat;
        background-size:100% 100%;
        height:512px
    }
    legend{
        width:100%!important
    }
    .top-footer{
        background:#063;
        padding:46px 0 70px;
        color:#fff
    }
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:70px;
        line-height:18px
    }
}
@media only screen and (min-width:960px){
    .col20{
        width:20%!important;
        float:left;
        position:relative;
        min-height:1px;
        padding-right:25px!important;
        padding-left:25px!important
    }
    img.img-responsive.logo_up{
        display:block;
        text-align:center
    }
    .col14.col-xs-6.box.no-padd h4{
        margin-top:20px
    }
    img.img-responsive.padd_upper_img{
        padding-top:5%
    }
    h4.in_collaboration{
        padding-top:0!important
    }
    .col20.col-xs-2.box_course{
        width:20%
    }
    .abt-content.bb-a p{
        text-align:left!important;
        padding-left:0
    }
    .col-md-4.col-sm-4.no_padding,.col-sm-12.industry_border{
        padding-left:0
    }
    xdiv#dowload_padd{
        margin-bottom:34px
    }
    .col-md-offset-1.col20.col-xs-6,.col20.col-xs-6{
        padding:20px 90px
    }
    div#leaders_padd{
        padding-bottom:45px
    }
    fieldset#course_leasder{
        height:550px
    }
    fieldset#faculty_height{
        height:425px
    }
    fieldset#Industry_leasder{
        height:450px
    }
}
@media only screen and (min-width:1000px) and (max-width:1026px){
    .box{
        padding:0;
        height:167px
    }
    .col20.col-xs-6.logo_mob img{
        max-width:124%!important
    }
    fieldset#faculty_height{
        height:483px
    }
    fieldset#course_leasder{
        height:615px
    }
    x.counter-row-logo{
        padding:0 114px
    }
}
@media only screen and (max-width:959px){
    .col-md-offset-1.col20.col-xs-6,.col20.col-xs-6{
        padding-bottom:23px
    }
}
@media only screen and (min-width:790px) and (max-width:810px){
    .container{
        width:735px
    }
}
@media only screen and (max-width:768px){
    .banner-content h1,.row.icon-row h4{
        font-family:robotobold
    }
	.col-lg-4.col-md-5.col-sm-6.form {
		padding: 0;
	}
    legend img{
        width:100%;
        margin-top:10px
    }
    li.blocks__name:first-child,li.blocks__name:last-child{
        text-align:left
    }
    .form-div{
        transform:translate(0,0)!important;
        width:auto!important
    }
    .container.p-tb-10.p-50,p.simulation_module{
        text-align:center
    }
    .certificate-bg h1{
        text-align:center!important
    }
    .industry_border{
        border-bottom:1px solid #fff
    }
    div#dowload_padd{
        margin-bottom:50px
    }
    .container-fluid{
        padding-right:0!important;
        padding-left:0!important
    }
    .xheader img{
        width:56%
    }
    .header{
        padding:17px 0 20px
    }
    input.input-box,input.text,select.select{
        padding:5px 20px
    }
    .df{
        display:block!important;
        align-items:center
    }
    .banner-bg{
        background-size:100% 100%;
        height:auto
    }
    .banner-content{
        font-size:28px;
        line-height:37px
    }
    .p-l-7{
        padding-left:14px;
        padding-right:7px;
        margin-top:137px
    }
    .info-box{
        padding:20px 17px;
        height:88px;
        margin-top:10px;
        width:32%!important;
        float:left;
        margin-right:3px;
        margin-left:2px
    }
    .img-holder{
        width:22%
    }
    .img-content{
        width:64%;
        font-size:14px
    }
    .img-content p{
        line-height:19px;
        font-size:14px
    }
    .img-content p span{
        font-size:11.6px
    }
    .img-content h3{
        font-size:12px;
        line-height:11px
    }
    .why-us{
        padding-top:15px
    }
    .heading{
        font-size:28px;
        margin-top:36px;
        margin-bottom:22px
    }
    h1.heading.mart50.marb0.mobi_hide,p.mobi_hide{
        display:none
    }
    
    .abt-content h3{
        font-size:30px;
        margin-top:25px
    }
    .counter-row{
        margin-top:25px;
        padding:0;
        margin-bottom:25px
    }
    .b-r-1{
        border-bottom:0 solid #ccc!important
    }
    .counter-row .abt-content.bb-a::after{
        content:'';
        background:#ccc;
        position:relative;
        display:none;
        width:25%;
        height:1px;
        margin:35px auto
    }
    .video-wrapper{
        margin-top:50px
    }
    .content-wrapper{
        padding:10px 30px 47px;
        margin:0 0 22px
    }
    .box,.syllabus{
        padding:0
    }
    .content-wrapper .box img{
        width:25%
    }
    .row.icon-row h4{
        margin-top:14px;
        text-transform:capitalize;
        line-height:17px;
        font-size:14px;
        font-weight:600
    }
    .icon-row{
        margin-top:32px;
        text-align:center
    }
    .row.p-50.container-row,fieldset h5{
        margin-top:15px
    }
    .box{
        height:139px
    }
    .col-md-5 .syllabus{
        padding:23px 0 0
    }
    .syllabus ul li{
        font-size:14px;
        margin-bottom:30px
    }
    span.ul-head{
        font-size:18px
    }
    .p-50{
        padding-left:10px!important;
        padding-right:10px!important
    }
    legend{
        width:22%!important;
        margin-bottom:-25px
    }
    fieldset h5{
        line-height:21px;
        font-size:12px
    }
    fieldset p{
        line-height:25px
    }
    .txt-color{
        font-size:13px
    }
    fieldset{
        max-height:100%!important;
        padding:0 10px 19px!important;
        margin:0 2px!important
    }
    footer p{
        padding:30px 0;
        font-size:12px
    }
    .banner-content h1{
        font-size:30px;
        color:#fff;
        line-height:35px;
        margin-bottom:0
    }
    .banner-bg .container,.banner-bg .form-div{
        padding:0;
        margin:0
    }
    input.input-box,input.text,select.select{
        width:100%;
        font-size:14px
    }
    form.contact-form h2,form.contact-form h3{
        font-size:16px;
        margin:0 0 10px!important
    }
    .container.info-row{
        margin-top:0
    }
    .certificate-bg{
        background:0 0!important
    }
    .certificate-bg p{
        font-size:18px;
        line-height:125%;
        margin:14px 0;
        position:relative
    }
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:66px;
        line-height:18px
    }
    .top-footer{
        padding:30px 20px 35px 25px
    }
    .top-footer .text-center h5{
        margin-top:-8px;
        line-height:23px;
        font-weight:100;
        font-size:15px
    }
    .m-tb-50{
        margin-top:35px;
        margin-bottom:0
    }
    footer.text-center img{
        width:35%;
        margin:0 auto
    }
    ul.social-network.social-circle li a{
        width:30px;
        height:30px;
        font-size:17px
    }
    .social-circle li i{
        line-height:31px
    }
}
@media only screen and (min-width:737px) and (max-width:768px){
    .col20.col-xs-6.logo_mob{
        min-height:130px!important
    }
    .col-md-6.col-sm-8{
        width:100%
    }
    .col14.col-xs-6.box{
        margin-bottom:4%
    }
    .certificate-bg.clearfix{
        background:0 0!important
    }
    .col-lg-12.col-xs-12.visible-xs.no_pad{
        display:block!important
    }
    div#padd_logo{
        width:50%;
        float:left
    }
    .p-l-7{
        padding-left:7px;
        padding-right:7px;
        margin-top:245px
    }
    fieldset{
        height:auto;
        min-height:500px
    }
    .m-tb-50{
        margin-top:30px;
        margin-bottom:30px
    }
    img.img-responsive.padd_upper_img{
        padding-top:6%
    }
    .content-wrapper-industry{
        background:#fff;
        padding:30px;
        margin:0 0 22px;
        z-index:99;
        position:relative;
        text-align:center
    }
    .col20.col-xs-2.box_course{
        width:20%
    }
    .col-md-4.col-xs-6.box_height{
        width:32%
    }
}
@media screen and (min-width:700px) and (max-width:736px){
    .clear_here{
        clear:none!important;
        padding-top:1%!important
    }
    fieldset#course_leasder{
        height:auto
    }
    div#padd_logo{
        width:50%;
        float:left
    }
    .clearfix_new{
        clear:both
    }
    .col-md-4.col-xs-6.box_height{
        width:32%
    }
    .img-logo_height{
        padding-bottom:4%
    }
}
@media screen and (min-width:641px) and (max-width:736px){
    fieldset{
        height:329px
    }
    .col-md-4.col-sm-4.no_padding:nth-child(2n+1){
        clear:both
    }
    .col-md-4.col-xs-6.box_height{
        width:32%
    }
    .col20.col-xs-6.logo_mob{
        min-height:99px
    }
    .img-logo_height{
        padding-bottom:4%;
        min-height:89px
    }
    div#padd_logo{
        width:50%;
        float:left
    }
    .col-md-4.col-sm-4.no_padding{
        width:50%;
        float:left;
        text-align:center
    }
    .col-md-5.col-sm-5 .syllabus{
        margin-top:-25px
    }
    .col-lg-12.col-xs-12.visible-xs.no_pad{
        display:block!important
    }
    .certificate-bg{
        background:0 0;
        background-size:100% 100%
    }
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:621px;
        line-height:18px
    }
    .row.p-50.container-row.padding_below{
        padding-bottom:0
    }
}
@media screen and (min-width:650px) and (max-width:670px){
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:566px;
        line-height:18px
    }
    .col-md-4.col-sm-4.no_padding{
        width:50%;
        float:left
    }
    .col20.col-xs-2.box_course{
        width:20%
    }
    .top-footer{
        padding:36px 20px 35px 25px
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    ul.col-sm-12.col-xs-12.pd{
        width:33%
    }
    li.col12:nth-child(3n+1){
        clear:both
    }
    .clear_here{
        clear:none!important;
        padding-top:3%!important
    }
    div#padd_logo{
        width:50%;
        float:left
    }
    fieldset#course_leasder{
        height:406px
    }
}
@media screen and (min-width:540px) and (max-width:640px){
    .info-box{
        padding:20px 17px;
        height:97px;
        margin-top:10px;
        width:30%!important;
        float:left;
        margin-right:3px;
        margin-left:6px
    }
    .col20.col-xs-6.logo_mob{
        min-height:99px
    }
    .col-md-4.col-xs-6.box_height{
        width:32%
    }
    legend{
        width:22%!important;
        margin-bottom:-25px
    }
    .col20.col-xs-6.box img{
        width:43%!important
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    ul.col-sm-12.col-xs-12.pd{
        width:50%
    }
}
@media screen and (min-width:610px) and (max-width:666px){
    fieldset{
        height:auto!important
    }
    h4.in_collaboration{
        vertical-align:middle;
        margin:0!important
    }
    .img-holder img{
        width:97%
    }
    .img-holder{
        margin:0
    }
    .info-box{
        padding:11px 17px;
        height:97px;
        margin-top:10px;
        width:30%!important;
        float:left;
        margin-right:3px;
        margin-left:6px
    }
    .img-content{
        width:72%;
        font-size:14px
    }
    .p-l-7{
        padding-left:14px;
        padding-right:7px;
        margin-top:124px
    }
    .banner-bg{
        background-size:100% 100%;
        min-height:620px
    }
    .col-lg-12.col-xs-12.visible-xs.no_pad{
        display:block!important
    }
    .col-md-5.col-sm-5 .syllabus{
        margin-top:-25px
    }
    .top-footer{
        padding:31px 20px 35px 25px
    }
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:550px;
        line-height:18px
    }
    .row.p-50.container-row.padding_below{
        padding-bottom:0
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    ul.col-sm-12.col-xs-12.pd{
        width:50%
    }
}
@media screen and (min-width:541px) and (max-width:630px){
    .img-holder img{
        width:100%
    }
    .xsyllabus{
        padding:16px 0 0
    }
    .content-wrapper .box img{
        width:42%!important
    }
    .row.p-50.container-row.padding_below{
        padding-bottom:0
    }
    .img-content{
        width:65%;
        font-size:14px
    }
    .img-holder{
        width:23%
    }
    .img-content p{
        line-height:19px;
        font-size:12px
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    .info-box{
        padding:18px 4px;
        height:97px;
        margin-top:10px;
        width:32%!important;
        float:left;
        margin-right:1px;
        margin-left:3px
    }
    ul.col-sm-12.col-xs-12.pd{
        width:50%
    }
}
@media screen and (min-width:571px) and (max-width:600px){
    .info-box{
        padding:20px 17px;
        height:97px;
        margin-top:10px;
        width:32%!important;
        float:left;
        margin-right:3px;
        margin-left:1px
    }
    #bottom_div{
        margin-top:-30px!important
    }
    .col-md-4.col-xs-6.box_height h4{
        margin-top:2px
    }
    .banner-bg{
        background-size:100% 43%!important;
        height:fit-content
    }
    .col-md-5.col-sm-5 .syllabus{
        margin-top:-25px
    }
    .col-lg-12.col-xs-12.visible-xs.no_pad{
        display:block!important
    }
    p.simulation_module{
        color:#95113a;
        font-size:18px;
        font-family:robotobold;
        margin-top:39px;
        margin-bottom:12px;
        text-align:center
    }
    fieldset#course_leasder,fieldset#faculty_height{
        height:auto
    }
    .col20.col-xs-6{
        min-height:109px
    }
    .top-footer{
        padding:33px 20px 35px 25px
    }
    .content-wrapper .box img{
        width:38%!important
    }
    .img-logo_height{
        min-height:47px;
        padding-top:2%
    }
    .certificate-bg{
        background:0 0;
        background-size:100% 100%
    }
    .row.p-50.container-row.padding_below{
        padding-bottom:0
    }
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:507px;
        line-height:18px
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    ul.col-sm-12.col-xs-12.pd{
        width:50%
    }
}
@media screen and (min-width:558px) and (max-width:570px){
    .info-box{
        padding:20px 17px;
        height:97px;
        margin-top:10px;
        width:32%!important;
        float:left;
        margin-right:3px;
        margin-left:2px
    }
    .p-l-7{
        padding-left:14px;
        padding-right:7px;
        margin-top:136px
    }
    .banner-content p{
        font-family:robotomedium;
        font-size:23px;
        line-height:24px;
        color:#fff
    }
    .col-lg-12.col-xs-12.visible-xs.no_pad{
        display:block!important
    }
    .row.p-50.container-row.padding_below{
        padding-bottom:0
    }
    .col-md-5.col-sm-5 .syllabus{
        margin-top:-25px
    }
    .top-footer{
        padding:31px 20px 35px 25px
    }
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:480px;
        line-height:18px
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    ul.col-sm-12.col-xs-12.pd{
        width:50%
    }
}
@media screen and (min-width:500px) and (max-width:539px){
    .info-box{
        padding:16px 17px;
        height:97px;
        margin-top:10px;
        width:32%!important;
        float:left;
        margin-right:1px;
        margin-left:1px
    }
    .img-holder img{
        width:126%
    }
    .col20.col-xs-6.logo_mob{
        min-height:100px
    }
    .img-logo_height{
        margin-bottom:4%
    }
    .col-md-4.col-xs-6.box_height{
        width:100%;
        margin:0 auto
    }
    img#img_col_log,img.img-responsive.padd_upper_img{
        margin:0 auto;
        padding:1% 0
    }
    .banner-content p{
        font-family:robotomedium;
        font-size:21px;
        line-height:24px;
        color:#fff
    }
    .p-l-7{
        padding-left:14px;
        padding-right:7px;
        margin-top:136px
    }
    .content-wrapper .box img{
        width:25%!important
    }
    .img-content{
        font-size:14px
    }
    .img-content h3{
        font-size:11px;
        line-height:13px
    }
    .img-content p{
        line-height:14px;
        font-size:11px
    }
    fieldset{
        height:auto
    }
    .col-lg-12.col-xs-12.visible-xs.no_pad{
        display:block!important
    }
    .row.p-50.container-row.padding_below{
        padding-bottom:0
    }
    .certificate-bg{
        background:0 0;
        background-size:100% 100%
    }
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:449px;
        line-height:18px
    }
    .top-footer{
        padding:30px 20px 35px 25px
    }
    .col-md-5.col-sm-5 .syllabus{
        margin-top:-23px
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    ul.col-sm-12.col-xs-12.pd{
        width:50%
    }
}
@media screen and (min-width:415px) and (max-width:480px){
    xfieldset{
        height:293px
    }
    #bottom_div{
        margin-top:-30x!important
    }
    fieldset{
        height:auto!important
    }
    ol,ul{
        margin-top:26px!important;
        margin-bottom:10px
    }
    .p-l-7{
        padding-left:14px;
        padding-right:7px;
        margin-top:117px
    }
    .banner-content h1{
        font-family:robotobold;
        font-size:32px;
        color:#fff;
        line-height:33px;
        margin-bottom:3px
    }
    .banner-content p{
        font-family:robotomedium;
        font-size:23px;
        line-height:24px;
        color:#fff
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    ul.col-sm-12.col-xs-12.pd{
        width:50%
    }
    .certificate-bg{
        background:0 0;
        background-size:100% 100%
    }
    .col-md-5.col-sm-5 .syllabus{
        margin-top:-23px
    }
    .col-lg-12.col-xs-12.visible-xs.no_pad{
        display:block!important
    }
    .row.p-50.container-row.padding_below{
        padding-bottom:0
    }
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:400px;
        line-height:18px
    }
    .top-footer{
        padding:27px 20px 35px 25px
    }
    .content-wrapper .box img{
        width:53%!important
    }
    .info-box{
        padding:20px 17px;
        height:88px;
        margin-top:10px;
        width:97%!important;
        float:left;
        margin-right:3px;
        margin-left:6px
    }
}
@media only screen and (max-width:500px){
    .header{
        text-align:center
    }
	li.blocks__name{
        padding:15px 3px;
    }
    .industry_border{
        padding:0
    }
    .col-md-4.col-xs-6.box_height{
        width:100%;
        margin:0 auto;
        padding:14px;
        text-align:center;
        display:inline-block
    }
    img#img_col_log,img.img-responsive.padd_upper_img{
        display:initial
    }
    p.simulation_module{
        color:#95113a;
        font-size:18px;
        font-family:robotobold;
        margin-top:0;
        margin-bottom:14px;
        text-align:center
    }
}
@media only screen and (max-width:425px){
    .abt-content.bb-a{
        padding-bottom:20px
    }
    #logo-content{
        position:relative;
        float:none;
        font-size:11px;
        top:25%;
        xleft:50%;
        text-align:center;
        xtransform:translate(-50%,-50%)
    }
    .banner-bg{
        background:url(http://emeritusorg-alukn0afitzcjqd.stackpathdns.com/programmes/PGDDB/assets-data/images/banner_Diploma_mob.jpg) no-repeat;
        background-size:contain
    }
    .row.p-50.container-row.padding_below{
        padding-bottom:0
    }
    legend img{
        width:100%
    }
    .col-sm-6.col-xs-12.text-center{
        padding:0
    }
    .container-fluid{
        padding-right:0!important;
        padding-left:0!important
    }
    .xheader img{
        width:50%
    }
    .header{
        padding:17px 0 20px
    }
    input.input-box,input.text,select.select{
        padding:5px 20px
    }
    .df{
        display:block!important;
        align-items:center
    }
    .banner-content{
        font-size:28px;
        line-height:37px
    }
    .p-l-7{
        padding-left:14px;
        padding-right:7px;
        margin-top:90px;
        padding-bottom:10px
    }
    .info-box{
        background:#063;
        color:#fff;
        padding:22px 34px;
        height:88px;
        margin-top:10px;
        margin-right:0;
        margin-left:0
    }
    .img-logo_height{
        min-height:auto
    }
    .col20.col-xs-6.logo_mob{
        width:100%;
        min-height:79px
    }
    img.img-responsive.logo_up{
        text-align:center;
        margin:0 auto
    }
    .img-holder{
        width:28%
    }
    .img-content{
        width:64%;
        font-size:14px
    }
    .img-content h3{
        font-size:12px;
        line-height:11px
    }
    .why-us{
        padding-top:15px
    }
    .heading{
        font-size:28px;
        margin-top:22px;
        margin-bottom:22px
    }
    .why-us p{
        padding:0 3%
    }
    .abt-content h3{
        font-size:30px;
        margin-top:22px
    }
    .counter-row{
        margin-top:0;
        padding:0;
        margin-bottom:0
    }
    .b-r-1{
        border-bottom:0 solid #ccc!important
    }
    .counter-row .abt-content.bb-a::after{
        content:'';
        background:#ccc;
        position:relative;
        display:block;
        width:75%;
        height:1px;
        margin:0 auto
    }
    .video-wrapper{
        margin-top:50px
    }
    .video-wrapper iframe{
        height:auto
    }
    .content-wrapper{
        padding:10px 30px 47px
    }
    .box,.col-md-5 .syllabus,.syllabus{
        padding:0
    }
    .content-wrapper .box img{
        width:70%
    }
    .row.icon-row h4{
        margin-top:14px;
        font-family:robotobold;
        text-transform:capitalize;
        line-height:14px;
        font-size:13px;
        font-weight:400
    }
    .icon-row{
        margin-top:32px;
        text-align:center
    }
    .box{
        height:139px
    }
    .syllabus{
        margin-top:5%
    }
    .p-50{
        padding-left:10px!important;
        padding-right:10px!important
    }
    legend{
        width:58%!important;
        margin-bottom:-25px
    }
    fieldset h5{
        line-height:21px;
        margin-top:-6px;
        font-size:14px
    }
    fieldset p{
        line-height:25px;
        font-size:16px
    }
    .row.p-50.container-row{
        margin-top:15px
    }
    fieldset{
        max-height:100%!important;
        padding:0 10px 19px!important;
        margin:25px 2px!important;
        height:100%
    }
    footer p{
        padding:10px 0;
        font-size:11px
    }
    .banner-bg .container,.banner-bg .form-div{
        padding:0
    }
    input.input-box,input.text,select.select{
        width:100%;
        font-size:14px
    }
    .info-box{
        width:100%!important
    }
    form.contact-form h2,form.contact-form h3{
        font-size:16px;
        margin:0 0 10px!important
    }
    .container.info-row{
        margin-top:0
    }
    .certificate-bg{
        background:0 0
    }
    .certificate-bg p{
        margin:14px 0
    }
    .top-footer .text-center h3{
        margin-top:34px;
        line-height:30px
    }
    .top-footer{
        padding:31px 20px 35px 25px
    }
    .top-footer .text-center h5{
        margin-top:-8px;
        line-height:23px;
        font-weight:100;
        font-size:15px
    }
    .m-tb-50{
        margin-top:10px;
        margin-bottom:16px
    }
    footer.text-center img{
        width:73%;
        margin:0 auto
    }
    ul.social-network.social-circle li a{
        width:30px;
        height:30px;
        font-size:17px
    }
    .social-circle li i{
        line-height:31px
    }
    .modal-body{
        padding:0 30px 30px!important
    }
    .modal-dialog.modal-lg{
        width:95%;
        margin:90px auto 30px
    }
    .banner-content h1{
        font-size:24px;
        line-height:27px
    }
    .banner-content p{
        font-family:robotomedium;
        font-size:20px;
        line-height:21px;
        color:#fff
    }
    .modal-open .modal{
        top:0
    }
    .banner-content h1{
        font-family:robotobold;
        padding-left:5px
    }
}
@media only screen and (max-width:420px){
    .certificate-bg{
        background:0 0;
        background-size:100% 100%
    }
    li.col-md-offset-1.col20.col-xs-6,li.col20.col-xs-6{
        min-height:auto!important
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%;
        padding:20px
    }
    .col20.col-xs-6{
        width:100%
    }
    .col-lg-12.col-xs-12.visible-xs.no_pad{
        display:block!important
    }
}
@media screen and (min-width:401px) and (max-width:414px){
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:345px;
        line-height:18px
    }
    .content-wrapper .box img{
        width:64%
    }
    .top-footer{
        padding:30px 20px 35px 25px
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    ul.col-sm-12.col-xs-12.pd{
        width:50%
    }
}
@media screen and (min-width:371px) and (max-width:400px){
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:320px;
        line-height:18px
    }
    li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    .p-l-7{
        padding-left:14px;
        padding-right:7px;
        margin-top:97px
    }
    ul.col-sm-12.col-xs-12.pd{
        width:50%
    }
    .top-footer{
        padding:30px 20px 35px 25px
    }
    li.blocks__name{
        padding:15px 3px;
        font-size:12px
    }
}
@media screen and (min-width:351px) and (max-width:370px){
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:300px;
        line-height:18px
    }
    form.contact-form .control-label{
        font-size:11px;
        padding:0 0 0 14px
    }
    .p-l-7{
        padding-left:14px;
        padding-right:7px;
        margin-top:86px
    }
    .top-footer{
        padding:30px 20px 35px 25px
    }
    .xheader img{
        width:66%
    }
    li.blocks__name{
        padding:15px 3px;
        font-size:12px
    }
}
@media screen and (min-width:310px) and (max-width:350px){
    p.certificate_para{
        font-size:15px;
        margin:14px 0;
        position:absolute;
        top:270px;
        line-height:18px
    }
    .counter-row-logo{
        padding:0!important
    }
    form.contact-form .control-label{
        font-size:11px;
        padding:0 0 0 14px
    }
    li.blocks__name{
        padding: 15px 1px;
		font-size: 11px;
    }
    .xheader img{
        width:66%
    }
    .top-footer{
        padding:40px 20px 35px 25px
    }
    #logo-content{
        position:relative;
        float:left;
        font-size:11px;
        top:25%
    }
    .banner-content h1{
        font-family:robotobold;
        font-size:18px;
        color:#fff;
        line-height:19px
    }
    .banner-content p{
        font-family:robotomedium;
        font-size:17px;
        line-height:18px;
        color:#fff
    }
    .col20.col-xs-2.box_course{
        width:50%
    }
    .ipod_padd,.nano_padd.rubbermaid{
        padding-top:0!important
    }
}
@media only screen and (min-width:768px){
    .clearfix_new{
        clear:both
    }
    .col20.col-xs-6.logo_mob{
        min-height:170px
    }
    div#faculty,div#hiring,div#journey,div#simulations{
        margin-bottom:95px
    }
    .img-logo_height{
        min-height:80px
    }
    span.text_spacing{
        display:block;
        font-size:24px
    }
    .flo_image{
        float:right
    }
    .col20.col-xs-2.box_course{
        width:20%
    }
    .ipod_padd{
        padding-top:25%
    }
    .nano_padd{
        padding-top:15%
    }
}
@media only screen and (min-width:736px){
    .b-r-1,.border-right{
        border-right:1px solid #ccc
    }
    .benefits{
        padding:0;
        display:table;
        width:100%;
        list-style:none
    }
    img.img-responsive.graph{
        margin:0 auto 60px
    }
    p.text-justify.Practitioner_text{
        margin-top:-9px
    }
    #alumini_pad{
        padding-top:2%
    }
    .row.p-50.container-row h5{
        text-align:center;
        font-weight:700
    }
    .b-r-1{
        height:100%
    }
    li.col-sm-12.col-xs-12{
        margin-bottom:5%
    }
    li.col12{
        width:20%;
        float:left;
        display:block
    }
    .benefits ul,li.col-sm-6.col-xs-6.pd.paired{
        list-style:none;
        width:100%
    }
    .benefits ul{
        line-height:18px;
        display:block
    }
}
@media only screen and (max-width:736px){
    .benefits,li.col-sm-6.col-xs-6.pd.paired{
        list-style:none
    }
    .benefits{
        padding:0;
        display:table;
        width:100%
    }
	li.blocks__name {
		padding: 30px 10px;
	}
    li.blocks__name{
        text-align:center!important;
        width:33%
    }
    #logo-content,.certificate-bg p,.col-md-4.col-sm-4.no_padding,p.simulation_module{
        text-align:center
    }
    #mob_hide{
        display:none
    }
    .b-r-1{
        height:100%;
        border-right:none;
        border-left:none
    }
    img.img-responsive.graph{
        margin:0 auto 5%
    }
    td.li_style{
        padding-top:10px;
        padding-right:3%
    }
    .counter-row-logo{
        padding:0 15px
    }
    p.simulation_module{
        color:#95113a;
        font-size:18px;
        font-family:robotobold;
        margin-top:60px;
        margin-bottom:30px
    }
    #logo-content{
        position:relative;
        float:none;
        font-size:11px;
        top:25%;
        xleft:50%;
        xtransform:translate(-50%,-50%)
    }
    p.company_speak{
        font-size:12px!important;
        font-family:robotomedium
    }
    .row.p-50.container-row h5{
        padding:5px 20px;
        font-size:16px;
        font-weight:700;
        text-align:center
    }
    .speak_data,p.speak_title{
        line-height:20px;
        text-align:left
    }
    .xcol-md-4.col-sm-4.b-r-1{
        padding-bottom:22px
    }
    .carousel{
        position:relative;
        min-height:397px
    }
    .col-md-12.container_alumi_speak{
        padding-top:20px
    }
    .row.p-50.container-row{
        margin-top:30px!important
    }
    .p-tb-10{
        padding-top:0!important;
        padding-bottom:9%
    }
    .speak_data{
        font-family:roboto;
        font-weight:300;
        margin-top:0!important
    }
    p.speak_title{
        font-family:robotolight;
        color:#000;
        font-size:14px;
        font-weight:600
    }
    li.col-sm-12.col-xs-12{
        margin-bottom:2%
    }
    .user-name{
        color:#063!important;
        font-family:robotomedium;
        margin-bottom:-15px;
        font-size:16px
    }
    p.text-justify.Practitioner_text{
        padding:5px 20px
    }
    .ipod_padd{
        padding-top:25%
    }
    .nano_padd{
        padding-top:15%
    }
    .nano_padd.rubbermaid{
        padding-top:25%
    }
    .clear_here{
        clear:both;
        padding-top:9%
    }
}
@media only screen and (min-width:750px) and (max-width:768px){
    .banner-bg{
        background-size:100% 33%;
        height:auto
    }
}
@media only screen and (max-width:768px) and (min-width:426px){
    .banner-bg{
        background-size:contain;
        height:auto
    }
    .header{
        padding:17px 0 20px;
        text-align:center
    }
}
@media only screen and (max-width:670px) and (min-width:662px){
    .p-l-7{
        padding-left:14px;
        padding-right:7px;
        margin-top:139px
    }
    h4.in_collaboration{
        vertical-align:middle;
        margin:0!important
    }
}
@media only screen and (max-width:414px) and (min-width:401px){
    .p-l-7{
        padding-left:14px;
        padding-right:7px;
        margin-top:111px
    }
}
@media only screen and (max-width:1025px) and (min-width:770px){
    .b-r-1{
        height:100%;
        border-right:1px solid #ccc
    }
}
@media only screen and (max-width:1025px) and (min-width:799px){
    .banner-content h1{
        font-family:robotobold;
        font-size:41px;
        color:#fff;
        margin-bottom:3px
    }
    .banner-content p{
        font-family:robotomedium;
        font-size:22px;
        line-height:24px;
        color:#fff
    }
}
@media only screen and (max-width:641px) and (min-width:599px){
    .banner-bg{
        background-size:100% 42%;
        height:auto
    }
}
@media only screen and (max-width:1022px) and (min-width:769px){
    .col-md-12.container_alumi_speak{
        padding-top:20px
    }
}
@media only screen and (max-width:1000px) and (min-width:770px){
    .banner-content h1{
        font-family:robotobold;
        font-size:28px;
        color:#fff;
        line-height:34px;
        margin-bottom:3px
    }
    .banner-bg{
        background:url(../../assets-data/images/banner_diploma.jpg) no-repeat;
        background-size:contain;
        min-height:400px;
    }
    .p-l-7{
        padding-left:7px;
        padding-right:7px;
        margin-top:174px
    }
}
@media only screen and (max-width:768px) and (min-width:740px){
    #padding_top{
        margin-bottom:60px
    }
    li.blocks__name{
        padding:30px 16px
    }
    .col-md-12.container_alumi_speak{
        padding-top:1px
    }
    .carousel{
        position:relative;
        min-height:326px
    }
}
@media only screen and (min-width:489px){
    .row.p-50.container-row h5{
        padding:5px 20px;
        font-size:16px;
        font-weight:700;
        text-align:center
    }
}
@media only screen and (min-width:1300px){
    button.btn.btn-default.download-btn,input.btn.btn-default.download-btn{
        background:#d75252;
        margin:15px 0 0;
        padding:14px 34px;
        color:#fff;
        font-size:17px;
        text-transform:uppercase;
        border-radius:5px;
        border:1px solid #d75252;
        outline:0
    }
}
@media only screen and (max-width:1020px) and (min-width:769px){
    .img-content h3,.img-content p{
        font-size:16px;
        font-family:robotolight
    }
    .info-box{
        width:231px
    }
    .col-md-4.no_pad{
        width:33%;
        float:left;
        margin:2p
    }
    .info-box{
        background:#063;
        color:#fff;
        padding:23px 10px;
        height:118px;
        margin:0 auto
    }
    .img-content p{
        margin-top:5px;
        font-weight:700;
        line-height:26px
    }
    .img-content p span{
        font-size:16px
    }
    .container.info-row{
        margin-top:7px;
        padding:0 20px
    }
    .img-content h3{
        margin:0!important;
        line-height:20px;
        text-transform:uppercase;
        font-weight:500;
        letter-spacing:.5px
    }
}
@media screen and (min-width:666px) and (max-width:670px){
    .banner-content h1{
        font-family:robotobold;
        font-size:40px;
        color:#fff;
        line-height:38px;
        margin-bottom:3px
    }
}
@media screen and (min-width:1070px) and (max-width:1080px){
    .b-r-1{
        height:316px;
        border-right:1px solid #ccc
    }
    .banner-content h1{
        font-family:robotobold;
        font-size:43px;
        color:#fff;
        line-height:57px;
        margin-bottom:3px
    }
    .info-box{
        background:#063;
        color:#fff;
        padding:19px 23px;
        height:133px;
        width:300px;
        margin:0 auto
    }
}
@media screen and (min-width:999px){
    .col-md-2.col-xs-6.box{
        width:20%
    }
}
@media screen and (min-width:426px) and (max-width:499px){
    .col20.col-xs-6.logo_mob{
        min-height:106px
    }
    .m-tb-50{
        margin-top:20px;
        margin-bottom:20px
    }
    .xsyllabus{
        padding:19px 0 0
    }
    .banner-bg{
        background-size:contain!important
    }
    .img-logo_height{
        min-height:64px
    }
    .banner-content h1{
        font-family:robotobold;
        font-size:24px;
        color:#fff;
        line-height:27px;
        margin-bottom:3px
    }
}
@media screen and (min-width:769px) and (max-width:960px){
    .col-md-4.col-sm-4.no_padding,.col-md-4.col-sm-4.no_padding p{
        padding-left:0
    }
}
@media screen and (min-width:1200px){
    .col20{
        width:20%!important;
        float:left;
        position:relative;
        min-height:1px;
        padding-right:25px!important;
        padding-left:25px!important
    }
    .col14.col-xs-6.box.no-padd{
        padding-left:0;
        padding-right:0
    }
    .top_logo_left{
        padding-left:14px
    }
}
.content-wrapper-industry{
    background:#fff;
    padding:13px 50px;
    margin:0 0 22px;
    z-index:99;
    position:relative;
    text-align:center
}
@media screen and (min-width:481px) and (max-width:581px){
    .img-holder img{
        margin:0;
        width:103%
    }
    .img-holder{
        margin:0
    }
    .info-box{
        padding:10px 12px;
        margin-top:10px;
        width:32%!important;
        float:left;
        margin-right:3px;
        margin-left:1px
    }
    .img-content{
        width:74%;
        font-size:14px
    }
    .content-wrapper .box img{
        width:42%!important
    }
    .img-content p{
        line-height:19px;
        font-size:12px
    }
}
@media screen and (min-width:1026px) and (max-width:1199px){
    .info-box{
        width:281px;
        background:#063;
        color:#fff;
        padding:20px;
        height:110px;
        margin:0 auto
    }
    img.img-responsive.padd_upper_img{
        width:85%
    }
    img#img_col_log{
        width:80%
    }
    .img-content{
        width:76%;
        float:right;
        font-size:24px
    }
}
@media screen and (min-width:769px) and (max-width:1000px){
    .col-md-4.col-xs-6.box_height{
        width:32%
    }
    h4.in_collaboration{
        margin-top:8%!important
    }
    img.img-responsive.padd_upper_img{
        margin-top:7%
    }
}
@media screen and (min-width:601px) and (max-width:660px){
    .content-wrapper .box img{
        width:36%!important
    }
}
@media screen and (min-width:1000px) and (max-width:1299px){
    .col20.col-xs-6.logo_mob img{
        max-width:100%!important
    }
}
@media only screen and (max-width:650px){
    div#padd_logo img{
        max-width:90%;
        padding:2% 0
    }
    #bottom_div{
        margin-top:-15px
    }
}
@media only screen and (max-width:768px){
    #bottom_div{
        margin-top:-15px
    }
    .certificate-bg{
        min-height:auto!important
    }
    .p-l-7{
        background:rgba(88,84,84,.41)
    }
}
@media screen and (min-width:500px) and (max-width:737px){
    .m-tb-50{
        margin-top:30px;
        margin-bottom:30px
    }
}
@media screen and (min-width:961px) and (max-width:1023px){
    fieldset#faculty_height{
        height:451px
    }
    .col14.col-xs-6.box img{
        width:28%
    }
}
@media screen and (min-width:769px) and (max-width:1090px){
    fieldset#faculty_height{
        min-height:503px
    }
    fieldset#course_leasder{
        min-height:632px
    }
    fieldset#Industry_leasder{
        min-height:458px
    }
    .p-tb-10{
        padding-top:3%;
        padding-bottom:0
    }
}
@media screen and (min-width:769px) and (max-width:960px){
    .p-50{
        padding-left:0!important;
        padding-right:0!important
    }
    .certificate-bg{
        background:url(http://emeritusorg-alukn0afitzcjqd.stackpathdns.com/programmes/PGDDB/assets-data/images/certificate2.jpg) no-repeat;
        background-size:contain
    }
}
@media screen and (min-width:958px) and (max-width:961px){
    .container{
        width:913px
    }
    .certificate-bg{
        margin-bottom:0!important
    }
}
@media only screen and (max-width:1025px){
    .certificate-bg{
        min-height:430px;
        margin-bottom:7%
    }
    .p-50{
        padding-left:0!important
    }
    .counter-row,.why-us p{
        padding:0
    }
    .content-wrapper,.content-wrapper-industry{
        padding:30px
    }
    .p-50{
        padding:0!important
    }
}
@media only screen and (max-width:1090px) and (min-width:1025px){
    .certificate-bg{
        background:url(http://emeritusorg-alukn0afitzcjqd.stackpathdns.com/programmes/PGDDB/assets-data/images/certificate2.jpg) no-repeat;
        background-size:contain;
        min-height:472px
    }
}
@media only screen and (max-width:960px) and (min-width:767px){
    .col14.col-xs-6.box,li.col-md-offset-1.col20.col-xs-6,li.col20.col-xs-6{
        width:30%;
        float:left
    }
    .content-wrapper .box img{
        width:46%
    }
}
@media screen and (min-width:850px) and (max-width:901px){
    .certificate-bg{
        margin-bottom:0
    }
}
@media screen and (min-width:799px) and (max-width:849px){
    .certificate-bg{
        margin-bottom:5%;
        min-height:372px;
        background:url(http://emeritusorg-alukn0afitzcjqd.stackpathdns.com/programmes/PGDDB/assets-data/images/certificate2.jpg) no-repeat;
        background-size:100% 94%
    }
    .content-wrapper{
        background:#e2e2e1;
        padding:33px 30px 39px;
        margin:0;
        z-index:99;
        position:relative;
        text-align:center
    }
}
 @media screen and (min-width:1300px){
    .col-lg-4.col-md-5.col-sm-6.form{
            width: 450px;
			margin-top: 10px;
    }
     @media screen and (min-width:1000px) and (max-width:1025px){
         .col-lg-4.col-md-5.col-sm-6.form {
             position: absolute;
             right: 0;
             top: 0%;
        }
    }
     @media only screen and (max-width: 768px) and (min-width: 426px){
         .banner-bg {
             background-size: contain;
             height: 636px;
        }
    }
     @media only screen and (max-width: 425px){
         .form-control {
             height: 28px ! important;
             margin-bottom: 7px ! important;
        }
         .btn {
             margin:0px 0px 5px 0px !important 
        }
         .banner-bg{
             min-height: 544px;
        }
         .col-lg-4.col-md-5.col-sm-6.form {
             position: absolute;
             margin-top: 1%;
             right: 0%;
             width: 100%;
        }
    }
  
@media only screen and (min-width:1026px) and (max-width:1350px){
.content-wrapper {
    padding: 33px;
    margin: 0 0 22px;
}  
}

@media only screen and (min-width: 769px){
.banner-bg{
    background:url(http://emeritusorg-alukn0afitzcjqd.stackpathdns.com/programmes/PGDDB/assets-data/images/banner_diploma.jpg) no-repeat;
    background-size:cover;
    min-height:620px
}
}