$color1: #c21426;
$color2: #030a45;
$colorWhite: #ffffff;
$color3: #f5f5f5;
$color4: #374891;
$color5: #374891a6;


$color6: #357d44;
$color7: #ffebeb;
$colorPeach: #b59e74;
$colorBlack: #000000;
$colorRedBorder: #ff4747;
$colorFormBorder: #cccccc;
$colorFaqBorder: #bfbfbf;
