.btns,
.title1 {
	font-weight: 700
}

.logo img {
	height: 40px
}

.btns,
.your-learning ul {
	text-align: center
}

.bg-grey {
	background-color: #efefef!important
}

.banner-hide {
	display: block
}

.banner-visible {
	display: none
}

.bg-white {
	background-color: #fff!important
}

.pb {
	padding-bottom: 20px!important
}

.pb-30 {
	padding-bottom: 30px
}

.mb-2 {
	margin-bottom: 20px
}

header {
	padding: 20px 0;
	background-color: #fff
}

.logo-right {
	float: right
}

*,
ul {
	margin: 0;
	padding: 0
}

ul li {
	list-style: none
}

img {
	border: 0
}

body {
	font-family: Arial, sans-serif;
	color: #545454
}

.banner-text h1,
.banner-text-two h1,
.banner-title,
.programe-topic h4 span,
.title1,
p.sbutitle {
	font-family: Roboto, sans-serif
}

a,
a:active,
a:focus,
a:hover,
button,
button:hover {
	text-decoration: none;
	color: #333d47;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in
}

.thankyou h5 {
	color: #ffffff
}

.padd-40 {
	padding: 0 40px
}

.applynow p a,
.info a {
	text-decoration: underline
}

.padd40 {
	padding: 50px 0
}

.title1 {
	margin: 0;
	color: #15284b;
	font-size: 34px;
	padding-bottom: 40px
}

.space60 {
	padding: 0 60px
}

.padd20 {
	padding-top: 20px
}

.owl-carousel .owl-item img {
	display: inline-block;
	width: auto;
	margin-top: 20px
}

.banner {
	position: relative;
	overflow: hidden
}

.banner-text {
	margin-top: -200px;
	margin-left: -15px
}

.banner-text {
	text-align: left;
	background: rgba(1, 1, 1, .7)
}

.banner-text {
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
	padding: 20px
}

.banner-text h1 {
	margin: auto
}

.banner-text i {
	color: #fff!important
}

.banner-detail .sbutitle i {
	color: #fff!important
}

.brochure-form h2 {
	color: #15284b;
	margin: 0 0 15px!important;
	font-size: 20px;
	font-weight: 700
}

p.sbutitle {
	font-size: 25px;
	margin: 0;
	color: #fff;
	line-height: 30px;
	padding-top: 10px;
	font-weight: 400
}

.brochure-form {
	padding: 10px 15px;
	position: absolute;
	background: #15284b;
	right: 5%;
	top: 1%;
	z-index: 111;
	-moz-transform: translate(-50%, -50%)
}

.brochure-form label {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
	font-size: 15px
}

.brochure-form .form-group {
	margin-bottom: 2px
}

.brochure-form h2 span {
	display: block;
	font-size: 28px;
	color: #eb5e2e;
	line-height: 30px;
	padding-top: 5px
}

a.btn.btn-default.download-btn-link:hover,
button.btn.btn-default.download-btn:hover {
	background: 0 0;
	color: #fdb515!important;
	border: 1px solid #fdb515!important;
	text-shadow: none
}

.brochure-form p {
	margin-top: 5px;
	font-size: 14px
}

.btns {
	background-color: #fdb515;
	color: #fff;
	padding: 10px 0;
	display: block;
	margin: 0 auto;
	width: 240px;
	text-transform: uppercase;
	border: 1px solid #fdb515
}

.btns:hover {
	background: 0 0;
	border: 1px solid #fdb515;
	color: #fdb515
}

.btns2 {
	border-radius: 4px;
	background-color: #fdb515;
	color: #333;
	padding: 10px 0;
	display: block;
	margin: 0 auto;
	width: 237px;
	text-transform: uppercase;
	border: 1px solid #fdb515
}

.btns2:hover {
	background: 0 0;
	border: 1px solid #fdb515;
	color: #fdb515
}

.load_more2.test {
	display: none
}

p {
	margin-bottom: 0;
	font-size: 18px
}

header {
	padding: 20px 0
}

.case-study-heading {
	background: #fff;
	padding: 20px
}

.programe-info {
	background-color: #15284b
}

.programe-info .col-sm-4 {
	padding: 0
}

.bor-right {
	border-right: 2px solid #fff;
	height: 120px
}

.programe-info.programe-info-v4 .programe-detail {
	background-color: #849338
}

.programe-detail {
	background-color: #15284b;
	color: #fff;
	padding: 30px 0 0 30px;
	min-height: 180px
}

.programe-detail h3 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 24px;
	margin: 0
}

.programe-detail .start-text {
	display: inline-block;
	padding-left: 5px
}

.programe-detail .start {
	width: 50px;
	height: 50px;
	display: inline-block
}

.iconsicon1,
.iconsicon2 {
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: top
}

.programe-detail p {
	font-weight: 700;
	margin-bottom: 0;
	font-size: 22px
}

.digital-denial {
	padding-top: 40px;
	padding-bottom: 40px
}

.digital-denial p {
	line-height: 28px
}

.digital-denial-info {
	padding: 40px 40px
}

.digital-denial-text {
	padding: 0 10px
}

.digital-denial-text h3 {
	font-size: 47px;
	font-weight: 700;
	padding-bottom: 20px;
	line-height: 40px
}

.iconsicon1 {
	background: url(../images-new/sprite.png) -2px 50px
}

.iconsicon2 {
	background: url(../images-new/sprite.png) -2px 103px
}

.info-icon {
	background: url(../images-new/info_icon.png) no-repeat;
	width: 16px;
	height: 14px;
	display: inline-block;
	vertical-align: middle
}

.iconsicon3 {
	background: url(../images-new/sprite.png) -2px -2px;
	width: 48px;
	height: 48px;
	display: inline-block;
	vertical-align: top
}

.certificate,
.programe-topic {
	background-color: #efefef
}

.program-faculty {
	background-color: #fff
}

.program-faculty h4 {
	font-size: 18px;
	color: #15284b;
	font-weight: 700;
	font-family: Roboto, sans-serif;
	margin-top: 25px
}

.program-faculty h5 {
	font-size: 14px;
	color: #000;
	font-weight: 400;
	font-family: Roboto, sans-serif;
	line-height: 23px
}

.program-faculty p {
	color: #333;
	text-align: left;
	font-size: 18px;
	line-height: 28px
}

.program-faculty p a {
	font-weight: 700;
	color: #15284b;
	text-align: left
}

.programe-topic p,
.your-learning p {
	line-height: 28px
}

.program-faculty .owl-dots {
	margin-top: 20px
}

.programe-topic p span {
	font-weight: 600
}

.company-example.bg-white .case-study-heading {
	border: 1px solid #eee;
	min-height: 200px
}

.company-example.bg-grey .case-study-heading {
	min-height: 345px
}

.company-example {
	padding: 40px 0
}

.prog-topics ul.program-text {
	column-count: 2;
	-webkit-column-count: 2
}

.company-example p {
	line-height: 28px
}

.examples h3 {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 700;
	margin-top: 0;
	color: #15284b;
	line-height: 34px
}

.examples ul {
	margin: 0;
	padding-top: 40px;
	list-style: none
}

.your-learning {
	padding: 50px 0;
	background-color: #fff
}

.your-learning ul {
	margin: 10px 0 0 0;
	padding: 0
}

button.owl-dot.active {
	background: #958f8f
}

.your-learning ul li {
	position: relative;
	color: #545454;
	font-size: 18px;
	xpadding-top: 12px;
	padding-left: 30px;
	text-align: left;
	margin-bottom: 12px
}

.your-learning ul li:after {
	content: '\2022';
	position: absolute;
	left: 0;
	top: 0;
	font-size: 30px;
	line-height: 30px;
	color: #15284b
}

.hide-md,
.load_more_show,
.load_more_show2 {
	display: none
}

.your-learning ul li h4 {
	margin-bottom: 10px
}

.programe-topic h4 {
	padding-top: 25px;
	line-height: 25px;
	margin: 0
}

.programe-topic h4 span {
	color: #15284b;
	font-size: 18px;
	font-weight: 700
}

#loadMore,
#loadMore2 {
	font-size: 14px;
	display: block;
	padding-top: 25px;
	color: #15284b!important;
	line-height: 18px;
	font-weight: 700
}

.programe-topic a {
	margin-top: 50px
}

#loadMore {
	padding-right: 10px
}

.owl-dots {
	text-align: center
}

.certificate-info {
	padding-top: 0
}

.certificate-info p {
	line-height: 28px
}

.certificate a {
	float: left;
	margin: 40px 0
}

.certificate p i {
	font-size: 15px;
	color: #545454
}

.applynow {
	background-color: #15284b;
	color: #fff
}

.applynow .apply-btn {
	padding: 10px 0;
	display: inline-block;
	width: 145px;
	text-transform: uppercase;
	font-size: 14px;
	color: #15284b;
	background-color: #fff;
	border-radius: 4px;
	font-weight: 700;
	border: 1px solid #fff
}

.applynow p a,
.banner-text h1,
.info a {
	color: #fff
}

.applynow .apply-btn:hover {
	background-color: #15284b;
	color: #fff;
	border: 1px solid #fff
}

.applynow h4 {
	font-weight: 400;
	font-size: 24px;
	margin-top: 20px
}

.applynow p,
.applynow p a {
	font-size: 16px
}

footer p {
	font-size: 14px
}

footer a {
	color: #545454
}

.bg-grey {
	background-color: #f3f3f3
}

.bg-white {
	background-color: #fff
}

.this-program h3 {
	list-style: none;
	color: #4e5051;
	font-size: 20px;
	line-height: 34px;
	font-weight: 700;
	color: #15284b
}

.this-program ul li {
	position: relative;
	color: #545454;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 22px
}

.this-program ul li:after {
	content: '\2022';
	position: absolute;
	left: 0;
	top: 0;
	font-size: 28px;
	color: #15284b
}

.this-program a {
	margin-top: 30px
}

footer p {
	line-height: 24px;
	padding: 30px 0
}

.prog-topics ul {
	margin-bottom: 0;
	padding: 0
}

.prog-topics li {
	color: #545454;
	font-size: 18px;
	padding-bottom: 24px
}

.prog-topics li span {
	color: #15284b;
	font-weight: 700
}

.banner {
	position: relative;
	overflow: hidden
}

.banner img {
	max-width: 100%;
	width: 100%;
	height: 550px;
	padding-bottom: 0
}

.banner-text {
	margin-top: -200px;
	margin-left: -15px
}

.banner-text {
	text-align: left;
	background: rgba(1, 1, 1, .7)
}

.banner-text {
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
	padding: 20px;
	/*width: auto*/
}

.banner-text h1 {
	margin: auto
}

.banner-text i {
	color: #fff!important
}

.banner-detail .sbutitle i {
	color: #fff!important
}

.brochure-form h2 {
	color: #15284b;
	margin: 0 0 15px!important;
	font-size: 20px;
	font-weight: 700
}

p.sbutitle {
	font-size: 25px;
	margin: 0;
	color: #fff;
	line-height: 30px;
	padding-top: 10px;
	font-weight: 400
}

.brochure-form {
	padding: 10px 15px;
	position: absolute;
	top: 1%;
	z-index: 111;
	-moz-transform: translate(-50%, -50%)
}

.brochure-form label {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
	font-size: 15px
}

.brochure-form .form-group {
	margin-bottom: 2px
}

.brochure-form h2 span {
	display: block;
	font-size: 28px;
	color: #eb5e2e;
	line-height: 30px;
	padding-top: 5px
}

a.btn.btn-default.download-btn-link:hover,
button.btn.btn-default.download-btn:hover {
	background: 0 0;
	color: #fdb515!important;
	border: 1px solid #fdb515!important;
	text-shadow: none
}

.brochure-form p {
	margin-top: 5px;
	font-size: 14px
}

a.download-btn-link,
a.download-btn-link:active,
a.download-btn-link:focus,
a.download-btn-link:hover {
	background: #fdb515;
	margin: 10px auto;
	padding: 13px 30px;
	color: #333;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 14px;
	text-decoration: none;
	font-weight: 700
}

a.download-btn-link:hover {
	background: 0 0;
	border: 1px solid #fdb515;
	color: #fdb515
}

.error-text label.error {
	font-size: 14px;
	color: red;
	padding: 0 5px;
	transition: all .3s ease-in-out;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0)
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px)
	}
	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

.error-text,
.error-text label {
	color: red;
	font-size: 10px!important;
	font-weight: 400;
	margin-bottom: 0;
	padding: 0
}

.brochure-form {
	width: 390px!important
}

.program-info {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	min-height: 320px
}

.program-info img {
	margin-top: -70px
}

.program-info a {
	font-weight: 700;
	display: block;
	color: #15284b
}

.program-info h5 {
	color: #000;
	font-size: 14px;
	line-height: 25px;
	font-weight: 700;
	min-height: 50px
}

.program-info p {
	color: #545454;
	font-size: 14px;
	line-height: 25px;
	font-weight: 400
}

.special-group-con h3 {
	font-weight: 600;
	color: #000;
	font-size: 30px;
	margin: 0;
	padding: 0 0 30px 0
}

.special-group-con a {
	color: #15284b;
	text-decoration: underline
}

#special-group .modal-body {
	padding: 60px 0 60px 0
}

#special-group .modal-lg {
	width: 70%;
	margin-top: 90px
}

#special-group .modal-header {
	padding: 0
}

.special-group-con p {
	color: #000;
	font-size: 18px;
	line-height: 30px
}

.modal-body h3 {
	font-size: 18px
}

.modal-body img {
	display: inline-block
}

.modal-body {
	padding: 25px
}

.content_p,
.modal-body ul {
	padding-left: 20px
}

.modal-content .modal-header {
	border-bottom: 0
}

.modal-content .modal-header img {
	margin-top: -70px;
	width: 125px;
	height: 125px
}

.modal-lg {
	width: 90%;
	margin-top: 90px
}

.modal-body h5:first-child {
	margin-top: -8px!important;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #000
}

.ul_style {
	margin-bottom: 10px;
	font-size: 16px
}

.ul_style li {
	line-height: 25px
}

.modal-body ul li {
	list-style: disc;
	color: #000;
	line-height: 25px
}

.modal-body .content_p h4 {
	color: #000;
	font-size: 18px;
	font-weight: 700
}

.content_p {
	font-size: 16px
}

.modal-body b {
	color: #000
}

.modal-header .close {
	color: #4f2582;
	opacity: 1;
	font-size: 29px;
	margin-top: -17px!important;
	border: 0;
	margin-right: -13px;
	font-weight: 400;
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	width: 31px;
	line-height: 27px;
	height: 31px;
	background: #fff;
	border-radius: 50%;
	box-shadow: -1px 2px 20px 0 #000;
	transition: all .5s cubic-bezier(.23, 1, .32, 1)
}

#shachar .modal-content .modal-header,
#steve .modal-content .modal-header {
	padding: 0
}

#shachar h3,
#steve h3 {
	color: #15284b;
	font-weight: 700
}

#shachar h4,
#steve h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 25px
}

#shachar p,
#steve p {
	font-size: 16px
}

.banner-title,
label.control-label.v3_label {
	text-align: left
}

.no_pd {
	padding: 0
}

.programe-info-v4 {
	margin-top: 0
}

.banner_v4 {
	overflow: hidden;
	position: relative;
	margin-top: 60px;
	margin-bottom: 60px
}

.banner-title {
	color: #fff;
	font-size: 35px;
	line-height: 45px;
	font-weight: 700;
	padding: 25px 0;
	margin: 0
}

.header-bottom {
	background-color: #15284b
}

.content {
	padding: 5px
}

.banner-v3form {
	padding: 0 14px 0 0
}

.text-center {
	text-align: center!important
}

.brochure-form.v5 {
	background: #bbbbba!important
}

.banner img {
	min-height: 655px;
}

.banner li img {
	max-width: 100%;
	width: 100%;
	height: auto;
	padding-bottom: 0
}

.text-left {
	text-align: left!important
}

.banner-icon {
	margin-top: -135px;
	padding: 0
}

.your-learning.banner .banner-text {
	margin-left: -8px
}

.pd_right {
	padding-right: 0!important
}

h5.user-name {
	padding: 5px 0 0;
	font-weight: 700;
	color: #333;
	clear: both;
	font-size: 18px;
	text-align: left;
	margin-bottom: 0;
	margin-top: 25px
}

h5.faculty_designation {
	padding: 10px 0 25px;
	color: #333;
	line-height: 25px;
	margin: 0;
	text-align: left;
	font-weight: 700;
	font-size: 18px
}

a.txt-color {
	color: #15284b!important;
	cursor: pointer;
	font-weight: 700;
	font-size: 18px
}

.module3 {
	padding-top: 5px!important
}

.module5 {
	padding-top: 10px!important
}

#myModal2 .modal-dialog {
	width: 50%
}

#myModal2 .modal-content {
	border-radius: 20px
}

#myModal2 .modal-body {
	padding: 0 50px 40px 50px!important
}

#myModal2 .modal-header .close {
	color: #004785;
	opacity: 1;
	font-size: 25px;
	font-weight: 700;
	line-height: 32px
}

#myModal2 .modal-dialog {
	margin: 150px auto
}

#myModal2 .modal-body h3 {
	font-weight: 700;
	font-size: 18px;
	color: #000;
	line-height: 25px
}

#myModal2 .modal-body h6 {
	font-weight: 700;
	font-size: 18px;
	color: #15284b
}

#myModal2 .modal-body h5 {
	font-size: 16px;
	line-height: 25px;
	padding-top: 15px
}

.modal.fade .modal-dialog {
	transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	transition: transform .3s ease-out, -webkit-transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	transform: translate(0, -25%)
}

.modal.show .modal-dialog {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0)
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, .45)
}

.fade.show {
	opacity: 1;
	background-color: rgba(0, 0, 0, .45)
}

.business-excellence {
	padding: 38px
}

.business-excellence img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	padding-bottom: 10px
}

.business-excellence p {
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 10px
}

.business-excellence p.small {
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
	color: #333
}

.business-excellence p.small span {
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #333
}

.business-excellence ul {
	font-size: 18px;
	line-height: 44px;
	font-weight: 400;
	color: #333;
	padding-left: 0;
	margin-bottom: 10px
}

.business-excellence ul li.small {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #fdb115;
	margin-bottom: 10px
}

.business-excellence a {
	font-size: 18px;
	line-height: 26px;
	font-weight: 400;
	color: #15284b;
	text-decoration: underline
}

.show-slide,
.show-slide1 {
	display: none
}

a.load-btn3 {
	float: right;
	font-size: 16px;
	font-weight: 700;
	color: #15284b;
}

@media screen and (max-width:1900px) and (min-width:1600px) {
	.brochure-form {
		right: 15%
	}
}

@media only screen and (max-width:1200px) {
	.your-learning img {
		max-width: 100%
	}
	.programe-detail {
		min-height: 133px
	}
	.brochure-v3form p {
		margin-top: 0
	}
	.banner-text h1 {
		font-size: 40px
	}
	p.sbutitle {
		font-size: 22px
	}
	.programe-topic h4 {
		line-height: 25px
	}
	.banner_v4 .container {
		width: 100%
	}
	.space60 {
		padding: 0
	}
}

@media screen and (min-width:1023px) and (max-width:1200px) {
	.digital-denial-text .source {
		line-height: 15px
	}
	.examples-info li {
		width: 19%;
		vertical-align: top
	}
	.banner-text2 p.sbutitle {
		font-size: 22px;
		line-height: 30px
	}
	.banner-text2 h1 {
		font-size: 25px;
		line-height: 30px
	}
	.banner-title {
		font-size: 30px
	}
	.brochure-v3form p {
		margin-top: 0
	}
	.programe-detail {
		padding: 10px
	}
	.programe-detail h3 {
		font-size: 20px
	}
	.programe-detail p {
		font-size: 18px
	}
}

@media only screen and (max-width:1023px) {
	.digital-denial-text .source {
		line-height: 15px
	}
	.programe-topic h4 br {
		display: none
	}
	.this-program ul li br {
		display: none
	}
	.examples-info li {
		width: 30%;
		margin-top: 25px
	}
	.banner-icon,
	.banner-item,
	.banner_v4 .container,
	.programe-info .container {
		width: 100%
	}
	.banner-icon {
		margin-top: -300px
	}
	.programe-detail p {
		font-size: 15px
	}
	.banner-text2 p.sbutitle {
		font-size: 22px
	}
	.digital-denial-text h3 {
		font-size: 30px;
		padding-bottom: 0
	}
	.digital-denial-text h3 span {
		font-size: 20px
	}
	.banner-title {
		font-size: 30px
	}
	.banner_v4 {
		margin-top: 0!important;
		margin-bottom: 0!important
	}
	.content {
		padding: 0
	}
	.programe-detail {
		padding: 15px 10px;
		min-height: 140px
	}
	.programe-detail h3 {
		font-size: 16px
	}
	.programe-detail h6 {
		font-size: 11px
	}
	.brochure-form {
		width: 100%!important;
		position: static
	}
	.programe-info {
		margin: 2px 0 0
	}
	.banner-form {
		clear: both
	}
	.banner-text {
		margin-top: 0;
		margin-left: 0
	}
	.banner-text {
		width: 100%
	}
	.banner-text {
		font-size: 30px;
		background-color: #000
	}
	p.sbutitle {
		line-height: 28px
	}
	.banner .container {
		width: 100%;
		padding: 0
	}
	.banner img {
		height: auto
	}
	.space60 {
		padding: 0
	}
	.digital-denial {
		padding-top: 40px
	}
	.program-info {
		min-height: 350px
	}
}

@media only screen and (max-width:980px) {
	.banner-icon img {
		width: 70%!important;
		margin: 0 auto
	}
	.certificate-info {
		padding-top: 0
	}
	.padd20 {
		padding: 0
	}
	.banner-icon {
		margin-top: -200px
	}
}

@media only screen and (max-width:800px) {
	.banner-text h1 {
		line-height: 40px
	}
	.banner-text {
		margin-top: 0
	}
	p.sbutitle {
		font-size: 20px
	}
}

@media only screen and (max-width:769px) {
	.programe-detail h3 {
		font-size: 18px
	}
	#special-group .modal-lg {
		width: 90%;
		margin-top: 90px
	}
	.programe-detail p {
		font-size: 18px
	}
	.programe-detail .start-text {
		display: inline-block;
		padding-left: 15px
	}
	.programe-detail h6 {
		font-size: 11px
	}
	#special-group .modal-body {
		padding: 60px 10px 60px 10px
	}
}

@media only screen and (max-width:991px) {
	.fix-me {
		display: none!important
	}
}

@media only screen and (max-width:767px) {
	.banner img {
		min-height: auto;
	}
	.banner-visible {
		display: block!important
	}
	.banner-hide {
		display: none
	}
	.mt-2 {
		margin-top: 0
	}
	.company-example.bg-white .case-study-heading {
		min-height: auto
	}
	.case-study-heading {
		min-height: auto
	}
	.prog-topics ul.program-text {
		column-count: 1
	}
	.participant-testimonials .car-item img {
		display: block
	}
	.examples h3 {
		font-size: 18px;
		line-height: 25px
	}
	.this-program h3 {
		text-align: left
	}
	.case-study-img img.img-responsive {
		width: 100%
	}
	.business-excellence img {
		max-width: 50%
	}
	.bor-right {
		border-right: none;
		border-bottom: 2px solid #fff;
		height: 90px
	}
	.business-excellence {
		padding: 20px 0
	}
	.prog-topics ul {
		margin-bottom: 0;
		padding: 0
	}
	.w-100 {
		width: auto!important
	}
	.load-btn3 {
		border: none;
		font-size: 15px;
		text-decoration: underline;
		color: #15284b;
		cursor: pointer;
		position: relative;
		display: inline-block;
		padding-bottom: 10px;
		font-weight: 700;
		float: left
	}
	#myModal2 .modal-dialog {
		width: 90%!important;
		border-radius: 20px;
		margin: 150px auto
	}
	.fix-me {
		display: none!important
	}
	.part-det ul {
		display: block!important
	}
	.part-det ul>li.designation {
		padding-left: 0!important;
		padding-top: 20px!important
	}
	.participant-testimonials .car-item img {
		width: 140px;
		margin: 0 auto
	}
	.participant-testimonials .car-item {
		height: auto
	}
	header img {
		margin: 0 auto
	}
	.logo-right {
		float: none;
		margin-top: 10px
	}
	.module1 {
		padding-top: 0!important
	}
	.module3 {
		padding-top: 20px!important
	}
	.module5 {
		padding-top: 20px!important
	}
	.digital-denial-text .source {
		line-height: 15px;
		margin-top: 10px
	}
	.examples ul li {
		text-align: center
	}
	.padd-40 {
		padding: 0
	}
	.programe-topic h4 br {
		display: none
	}
	.digital-denial-text h3 {
		min-height: auto
	}
	.company-example,
	.this-program {
		text-align: left
	}
	.this-program ul li {
		text-align: left
	}
	.company-example .col2 {
		text-align: left
	}
	.padd60 {
		padding: 0
	}
	.modal-header .close {
		right: 10px
	}
	.digital-denial-text p,
	.program-info,
	.programe-detail {
		min-height: auto
	}
	.program-info {
		margin: 20px 0
	}
	.banner-text2 p.sbutitle {
		font-size: 14px;
		line-height: 22px
	}
	.program-faculty br {
		display: none
	}
	.text-left {
		text-align: left!important
	}
	.padd20,
	footer p+p {
		padding-top: 0!important
	}
	.certificate {
		text-align: center
	}
	.modal-lg {
		width: auto
	}
	.certificate a {
		float: none;
		margin: 40px auto;
		text-align: center
	}
	.banner-v3form {
		padding: 0 15px
	}
	.program-faculty h2 {
		padding-bottom: 20px;
		margin-bottom: 0
	}
	.program-info .text-left,
	.program-info.v3bg h5 {
		text-align: center;
		min-height: auto
	}
	.program-info img {
		margin-top: 0
	}
	.container {
		width: 100%
	}
	.hide-md {
		display: block
	}
	.hide-sm {
		display: none
	}
	.certificate-info {
		padding-top: 0
	}
	.padd20 {
		padding: 0
	}
	.certificate .col-md-6.pull-right img,
	.certificate h2 {
		text-align: center;
		margin: 0 auto
	}
	.certificate p {
		padding-top: 20px
	}
	.pull-right {
		float: none!important
	}
	.programe-topic h4 {
		padding-top: 20px;
		margin-bottom: 0;
		margin-top: 0
	}
	.programe-detail {
		margin-top: 2px
	}
}

@media only screen and (max-width:640px) {
	.company-example .title1 {
		padding-bottom: 40px!important
	}
	.examples-info li {
		width: 48%;
		padding-right: 0;
		vertical-align: top;
		text-align: center!important
	}
	.examples ul li {
		font-size: 20px
	}
	.banner-icon img {
		width: 50%!important
	}
	.banner-icon {
		margin-top: -140px
	}
	.applynow h4 {
		line-height: 30px
	}
	.your-learning ul li h4 {
		margin-bottom: 10px!important
	}
	.title1 {
		font-size: 30px;
		padding-bottom: 20px
	}
	.prog-topics li {
		width: 100%
	}
	.padd40,
	.your-learning {
		padding: 40px 0
	}
	.digital-denial {
		padding: 40px 0 20px
	}
	.digital-denial-info {
		padding: 30px 0 0
	}
	.certificate .padd20 {
		padding-top: 0
	}
	.certificate a {
		margin: 30px auto
	}
	.btns {
		margin-top: 30px!important
	}
	.btns2 {
		width: 100%;
		font-weight: 700
	}
	.banner-text h1 {
		font-size: 20px
	}
	p.sbutitle {
		font-size: 17px;
		line-height: 18px
	}
	.banner-text2 {
		margin-top: -40px!important
	}
	.banner-text h1 {
		line-height: 26px
	}
	.brochure-form {
		width: 100%
	}
}

@media only screen and (max-width:550px) {
	.examples ul li {
		font-size: 22px;
		padding-bottom: 0;
		width: 100%
	}
	.banner-text h1,
	.banner-title {
		font-size: 18px
	}
	.banner-icon {
		margin-top: -120px
	}
	.banner-title {
		line-height: 25px
	}
	p.sbutitle {
		font-size: 14px
	}
}

@media only screen and (max-width:500px) {
	.examples ul {
		padding: 0
	}
	.brochure-form label {
		width: 100%;
		text-align: left
	}
}

@media only screen and (max-width:420px) {
	.title1 {
		font-size: 28px
	}
	.examples ul {
		padding: 0
	}
	.banner-text2 h1 {
		line-height: 26px
	}
	.banner-text h1 {
		font-size: 16px;
		line-height: 22px
	}
}

#special-group .modal-body {
	padding: 20px
}

.sg-form h3 {
	margin-top: 0;
	font-weight: 700
}

.sg-form p {
	margin-bottom: 1rem
}

.header-top {
	padding: 15px 0
}

.bg-form {
	background: #15284b;
	padding: 25px 20px
}

.sg-form {
	background: #fff;
	padding: 25px 20px
}

.sg-form .form-group {
	margin: 0;
	margin-bottom: 4px;
	padding-right: 5px;
	padding-left: 5px;
	position: relative
}

.sg-form .form-group label {
	font-size: 14px!important;
	margin-bottom: 2px
}

.sg-form label.error {
	display: inline-block!important
}

.sg-form .form-group .download-brochure {
	padding: 7px 12px;
	text-align: center;
	background: #fdb115;
	color: #15284b;
	height: auto;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 20px
}

.form-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px
}

.download-brochure {
	padding: 7px 12px;
	text-align: center;
	background: #fdb115;
	color: #15284b;
	height: auto;
	font-weight: 700;
	font-size: 20px
}

.w-100 {
	width: 100%!important
}

.part-det {
	padding: 0 30px;
	padding-bottom: 0
}

.part-det ul {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}

.part-det ul>li.designation {
	padding-left: 40px;
	padding-top: 26px
}

.part-det p {
	font-size: 18px;
	line-height: 28px
}

.designation h4 {
	font-weight: 700;
	color: #000;
	font-size: 16px;
	line-height: 22px
}

.participant-testimonials .car-item img {
	width: 140px
}

.form-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px
}

.download-brochure {
	padding: 10px 12px;
	text-align: center;
	background: #fdb115;
	color: #fff;
	height: auto;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	border-radius: 0
}

.fix-me {
	background: #15284b;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	z-index: 999;
	display: none
}

.fix-me .item-det p {
	font-size: 11px;
	line-height: 16px
}

.fix-me .item-det h4 {
	font-size: 18px
}

.fix-me .item-det h6 {
	font-size: 19px;
	text-transform: uppercase;
	margin-top: 0;
	font-weight: 700
}

.fix-me .content-det {
	padding: 10px 0
}

.fix-me .item-det:last-child {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center
}

.fix-me .iconsicon1,
.fix-me .iconsicon2,
.fix-me .iconsicon3 {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: top
}

.fix-me .iconsicon1 {
	background: url(../images-new/sprite.png) 0 31px;
	background-size: cover
}

.fix-me .iconsicon2 {
	background: url(../images-new/sprite.png) 0 62px;
	background-size: cover
}

.fix-me .iconsicon3 {
	background: url(../images-new/sprite.png) 0 0;
	background-size: cover
}

.fix-me .know-m {
	color: #fff;
	font-size: 11px;
	position: relative;
	text-decoration: underline;
	font-style: italic
}

.item-det .start-text {
	display: inline-block;
	padding-left: 5px;
	width: 83%
}

.item-det {
	color: #fff
}

.fix-me .item-det:last-child {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center
}

.fix-me .row {
	display: flex
}

@media only screen and (min-width:767px) {
	.hide-desktop {
		display: none!important
	}
	.item-det+.item-det {
		border-left: 1px solid rgba(255, 255, 255, .25)
	}
}

.download-bro-btn {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 12px;
	background: #fdb115;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	z-index: 999;
	box-shadow: 1px -2px 10px rgba(0, 0, 0, .27);
	border: 0;
	width: 100%;
	font-weight: 700;
	text-align: center;
	display: none
}

footer.padd40 {
	padding: 40px 0 80px
}

.thankyou .title1 {
	font-weight: 400
}

.thankyou {
	padding: 20px
}

.thankyou a {
	margin-top: 20px
}

.thankyou h2 {
	padding-bottom: 0
}

p.getintouch {
	color: #ffffff
}

p.getintouch img {
	width: 18px;
	max-width: 18px;
	height: auto;
	min-height: 18px
}
.getintouch a{
	color: #fdb515;
	font-weight: bold;
}
.apply-now .thankyou a {
	margin-top: 0!important
}

.apply-now .getintouch {
	font-size: 18px!important
}

p.thankyou {
	font-size: 18px;
	line-height: 27px;
	color: #ffffff;
	padding-bottom: 5px;
	text-align: center;
	padding-top: 30px;
	margin-top: 0
}

.schedule-text {
	border-top: 1px solid rgba(0, 71, 133, .5);
	border-bottom: 1px solid rgba(0, 71, 133, .5);
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 22px;
	margin-top: 10px
}

.schedule-text p {
	font-size: 16px
}