$colorPrimary: #00ac5b;
$colorSecondary: #ffdb00;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorBlue: #5cc3e6;
$colorSectionOrange: #fe6100;
$colorDroppingOrange: #a84502;
$colorSectionOrange2: #f05a28;
$colorVibeGreen: #005b2d;
$colorPssttPink: #991441;
$colorLightGreen: #7fc99c;
$colorMaroon: #5e1b08;
$colorPink: #f10036;
$colorLightYellow: #fff2b0;
$colorLightGrey: #e6e7e8;
$colorPurple: #953692;
$colorOlive: #7a7a00;
$colorOrangeTextShadow: #cf3400;
$colorRegisterFormText: #004314;
