@font-face {
	font-family: 'Franklin Gothic Book';
	src: url('fonts/FranklinGothic-Book.eot');
	src: url('fonts/FranklinGothic-Book.eot?#iefix') format('embedded-opentype'),  url('fonts/FranklinGothic-Book.woff') format('woff'),  url('fonts/FranklinGothic-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Franklin Gothic Medium Cond';
	src: url('fonts/FranklinGothic-MediumCond.eot');
	src: url('fonts/FranklinGothic-MediumCond.eot?#iefix') format('embedded-opentype'),  url('fonts/FranklinGothic-MediumCond.woff') format('woff'),  url('fonts/FranklinGothic-MediumCond.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Franklin Gothic';
	src: url('fonts/FranklinGothic-Medium.eot');
	src: url('fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/FranklinGothic-Medium.woff') format('woff'),
		url('fonts/FranklinGothic-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

body {
	margin: 0 auto;
	
	font-size: 16px !important;
	color: #181818;
	font-family: 'Franklin Gothic Book' !important;
	
}

a, button, img{
	outline:0 !important;
	border:0 !important;
}
.table > tbody > tr > td, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 10px 8px !important;
}

.dates-table > tbody > tr > td, .dates-table > tfoot > tr > td, .dates-table > tfoot > tr > th, .dates-table > thead > tr > td, .dates-table > thead > tr > th
{
	padding:8px 15px !important;
}

dates-table td{
	color:#020202;
	
}

.red-text { color: #a41034; }


.banner-head-sm{
	font-family: 'Franklin Gothic';
	font-size:18px;
	
}

.inner-box p{
	font-family: 'Franklin Gothic';
}

.dates-table{
	border-collapse:separate !important;
	font-size:20px;
		margin-bottom:10px;
		font-family: 'Franklin Gothic Medium Cond';

}
.dates-table th {
	position: relative;
	background: #faae53;
	padding:0 30px;
	color:#fff;

	
}
.dates-table th:after, .dates-table th:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.dates-table th:after {
	border-color: rgba(136, 183, 213, 0);
	border-left-color: #faae53;
	border-width: 10px;
	margin-top: -10px;
}



.pt {
	padding-top: 10px;
	padding-bottom: 15px;
}
.mt {
	margin-top: 20px;
}
.mt2{
	margin-top:10px;
}
.upcontact {
	float: right;
	font-weight: bold;
	margin: 0 auto;
}
.upcontact a:link, a:visited {
	color: #faae53;
}
.upcontact p {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 0px;
}
.thankyou {
	height: 100%;
	padding: auto;
}
.testimonial {
	color: #faae53;
	font-style: italic;
	text-align: right;
	font-weight: bold;
}
.quots {
	color: #faae53;
	font-size: 20px;
	font-weight: bold;
}
.btn-info.active, .btn-info.focus, .btn-info:active, .btn-info:focus, .btn-info:hover, .open>.dropdown-toggle.btn-info {
	color: #fff;
	background-color: #faae53;
	border-color: #269abc
}
.border-top {
	border-bottom: 1px dotted #ccc;
	margin-bottom: 20px;
	padding-bottom: 20px;
}

.border-p {
	border-bottom: 4px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 35px;
}
a:link, a:visited {
	border: 0;
	outline: 0;
}
h1.heading {
	font-size: 16px;
	font-family: 'Franklin Gothic Book';
	background-image: url(images/arrow.png);
	border-left: 6px solid #faae53;
	background-repeat: no-repeat;
	background-color: #e6e6e6;
	padding: 10px 10px 10px 15px;
	background-position: left center;
	font-weight: bold;
	margin: 25px 0px;
}
.heading3 {
	font-family: 'Franklin Gothic Book';
	font-size: 16px;
	font-weight: bold;
	color: #faae53;
}
.logo {
	margin-bottom: -10px;
}
.banner {
	position: relative;
	margin-bottom: 35px;
}
.dates {
	position: absolute;
	top: 30%;
	left: 7%;
	font-family: 'Franklin Gothic Medium Cond';
}
.dates h3 {
	font-weight: bold;
	margin: 8px 0px 0px 0px;
	font-family: 'Franklin Gothic Medium Cond';
	font-weight: normal;
	font-size:30px !important;
}
/*.dates p {
	margin-bottom: 0px !important;
}*/
.inner-box {
	padding: 5px 10px;
	background-color:rgba(237,170,87,.9);
	color: #000;
}
.form {
	position: absolute;
	right: 3%;
	top: 1%;
}
 input[placeholder],  [placeholder],  *[placeholder] {
 color: #666 !important;
}
.placeholder {
	color: #666;
}
.program-list {
	list-style-image:url(images/arrow.png);
	font-family: 'Franklin Gothic Book';
	line-height: 1.8em;
	padding: 0 0 0 20px;
	margin-bottom:20px;
	margin-top:10px;
	
}
.right-form {
	background-color: #f0f0f0;
}
h2.form-head {
	background-color: #B20838;
	font-size: 16px;
	line-height: 2.2em;
	padding-left: 20px;
	font-weight: normal;
	color: #fff;
}
.form-wrapper {
	padding: 10px 15px;
}
.form-height {
	height: 25px;
	font-size: 12px;
	border-radius: 0;
}
.name {
	font-weight: bold;
	margin-bottom: 0px;
}
.btn-blue {
	background-color: #B20838;
	color: #fff;
}
.table-head {
	background-color: #B20838;
	color: #fff;
	padding: 8px;
}
.tfoot-note {
	font-size: 12px;
	font-style: italic;
	color: #9f9f9f;
	padding: 8px;
}
.career-head {
	color: #666;
	font-weight: 600;
	font-size: 15px;
}
ul.no-list-style {
	list-style-type: none;
	list-style: outside none none;
	padding: 0;
}

.loadMore { display: none; }
.past-participant-profiles ul 
{
	padding: 0px;
}
.past-participant-profiles ul li
{
    list-style: none;
    padding-left: 20px;
    margin-top: 10px;
	position: relative;
}
.past-participant-profiles ul li:before
{
	content: "";
    background: url(images/arrow.png) no-repeat;
    width: 8px;
    height: 12px;
    position: absolute;
    top: 6px;
    left: 0;
}
.no-list-style li {
	margin-bottom: 10px;
}
.color-list {
	border-radius: 0;
	background-color: #3197d2;
	margin-right: 10px;
	float: left;
}
.profile-image {
	width: 95%;
	padding: 10px 0;
	margin-right: 5%
}
ul.client-slider {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}
ul.client-slider li {
	float: left;
	margin-bottom: 10px;
}
.alumni-head {
	text-align: center;
	color: #3197d2;
	font-size: 13px;
	font-weight: 700;
}
.alumni-para {
	text-align: center;
	color: #999;
	font-style: italic;
}
.alumni-inner {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.small-head {
	font-weight: 600;
	color: #666;
	font-size: 15px;
}
ul.alumni-benefits {
	list-style-image: url(images/sm-arrow.png);
	vertical-align: middle;
	margin: 0;
	line-height: 2em;
	padding-left: 15px;
}
.arrow-table td {
	padding: 10px 10px 10px 20px;
}
.arrow-table td table td {
	padding: 6px;
}
#demo {
	color: #fff;
	font-weight: bold;
	background-color: #3197d2;
	position: relative;
}
#demo:after, #demo:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	left: 100%;
	position: absolute;
	width: 0;
}
#demo:after {
	top: 10px;
}
#demo:before {
	border-width: 10px;
	border-left-color: #3197d2;
	top: 9px;
}
.footer-box {
	background-color: #faae53;
	color: #000;
	padding: 8px;
	text-align: center;
	margin-top: 10px;
	font-size:15px;
	
}
.footer-box a:link, a:visited {
	color: #000;
}
.foot-head {
	font-size: 18px;
}
.foot-margin {
	border-top: 1px solid #faae53;
	padding-top: 20px;
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid green;
}
/* form  horizontal*/

.form-horizontal {
	background: none repeat scroll 0 0 #f0f0f0;
	padding: 0;
}
.form-horizontal h1 {
	background: none repeat scroll 0 0 #faae53;
	color: #fff;
	font-family: 'Franklin Gothic Book';
	font-size: 16px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	margin: 0 0 10px;
	padding: 0 0 0 20px;
}
.form-horizontal .col-sm-2 {
	width: 15.6%;
	margin: 0;
	padding: 0;
}
.form-horizontal .col-sm-5 {
	margin: 0 1px 0 1px;
	padding: 0;
}
.form-horizontal .col-sm-6 {
	margin: 0 8px 0 0;
	padding: 0;
}
.form-horizontal {
	background: none repeat scroll 0px 0px #F0F0F0;
	margin-top: 20px;
	padding: 0;
}
.form-horizontal h1 {
	background: none repeat scroll 0 0 #faae53;
	color: #000;
	font-family: 'Franklin Gothic Medium Cond';
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	margin: 0 0 10px;
	padding: 0 0 0 20px;
}
.col-sm-offset-2.col-sm-10 {
	margin-left: 0;
}
.btn {
	background: none repeat scroll 0 0 #faae53;
	color: #000;
	border-radius: 0;
	width: 100%;
	font-size: 18px;
	margin: 20px 0px;
	font-family: 'Franklin Gothic Medium Cond';
}
.form-horizontal .form-group {
	margin: 0 0 1px 0;
	padding: 0;
}
.form-horizontal .col-sm-2 {
	width: 18.6%;
	margin: 0;
	padding: 0;
}
.form-horizontal .col-sm-3 {
	width: 25%;
	padding-right: 0;
}
.form-horizontal .col-sm-5 {
	width: 40.1%;
}
.form-horizontal .col-sm-6 {
	margin: 0 8px 0 0;
	padding: 0;
}
.form-horizontal .col-sm-6 {
	margin: 0 1px 0 1px;
	padding: 0;
	width: 49.4%;
}
.buttona {
	float: right;
	width: 92%;
	margin: 0 20px 0 20px;
	padding: 20px;
}
/*.col-sm-10.dummy{ padding-bottom:10px;}*/	
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background: none repeat scroll 0 0 #faae53;
	color: #fff;
}
select, input[type="text"], input[role="textbox"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .custom-combobox-input, select {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #c1c1c1;
	color: #666;
	padding: 0 0 0 8px;
	top: 10px;
}
.form-control {
	border: 1px solid #c1c1c1;
	color: #666;
	display: block;
	font-size: 12px;
	height: 25px;
	line-height: 1.42857;
	margin-bottom: 10px;
	padding: 6px 12px;
	width: 100%;
}
.col-sm-10.dummy {
	padding-bottom: 10px;
	width: 100%;
}
.form-control {
	font-size: 12px;
	padding: 5px;
	border-radius: 0;
}
.mb {
	margin-bottom: 30px;
}
/*  Curriculum section */

.curriculum-wrapper {
	width: 100%;
}
.head {
	text-transform:uppercase;
	font-family: 'Franklin Gothic Medium Cond';
	color: #a41034;
	font-size:35px;
	margin:20px 0px 20px 0px;
}
.title1
{
	font-weight: 700;
	text-shadow: none;
}
.curriculum-wrapper h3 {
	margin-top: 0px;
}

.big-text{
	text-transform:uppercase;
	color:#000;
	font-size:20px;
	font-family: 'Franklin Gothic';
	

}

.list-head{
	font-family: 'Franklin Gothic Book';
	font-weight:bold;
	font-size:18px;
	margin-top:15px;
}

.head2 {
	color: #fff;
	font-size: 18px;
	text-transform:uppercase;
	font-family: 'Franklin Gothic Medium Cond';
	padding:10px;
	background-color:#000;
	
}

.head2 p{
	margin-bottom:0px !important;
	letter-spacing:1px !important;
}
.gray-box {
	width: 100%;
	background-color: #E6E6E6;
}
.curriculum-info {
	list-style-image: url(images/arrow.png);
	font-size: 13px;
}
.curriculum-info li {
	margin-bottom: 5px;
}
.county-list {
	list-style-image: url(images/arrow.png);
	padding-bottom: 10px;
}
.county-list li {
	margin-bottom: 10px;
}
/********************    New styles 2 June  ***********************/

.more a:link, .more a:visited{
	color:#181818;
	text-decoration:underline;
	font-weight:bold;
	font-size:13px;
}

.border-bt {
	border-bottom: 1px dotted #faae53;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
.np {
	margin: 0;
	padding: 0;
}
.participant {
	width: 100%;
}
.faculty {
	float: left;
	text-align: center;
	width: 11%;
	margin-right: 10px;
	margin-bottom: 10px;
	min-height: 275px;
}
.faculty-image {
	float: left;
	text-align: center;
	width: 40%;
	border: 1px solid #faae53;
	margin: 0px 0px 10px 0px;
}
.faculty-text {
	width: 60%;
	float: left;
}
.faculty-text p {
	padding: 0px 5px 0px 10px;
	margin-bottom: 5px;
}
.faculty-text p strong {
	color: #faae53;
}
.faculty img {
	border: 2px solid #faae53;
	margin-bottom: 10px;
}
.red-head {
	color: #faae53;
	font-weight: 600;
}
.faculty p {
	margin: 0 0 5px 0;
	padding: 0;
	line-height: 1.5em;
}
.participant ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.alumni ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.alumni ul li {
	float: left;
	margin-bottom: 10px;
}
.alumni-list {
	width: 33%;
}
.alumni-list p {
	margin: 0px 0 0 0;
	padding: 0;
}
.responsive {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 auto;
}
.sloan-list {
	width: 24%;
	float: left;
	min-height: 190px;
}
li .sloan-list {
	float: left;
}
.sloan-list img {
	border: 2px solid #faae53;
	float: left;
	margin-right: 10px;
}
.head-br {
	border-bottom: 2px solid #faae53;
	color: #faae53;
	line-height: 2.5em;
	font-weight: 600;
}
.no-list-style li {
	margin-right: 10px;
	margin-bottom: 10px;
}
.position {
	font-size: 11.5px;
	font-style: italic;
	color: #333;
}
.benefits ul {
	list-style-image: url(images/bullet.png);
	vertical-align: middle;
	line-height: 2em;
}
.sublist {
	margin: 0px 10px 10px 30px;
	line-height: 2em;
	list-style-type: initial;
}
#mobile-no {
	display: block;
}
.form-horizontal p.bt-text {
	font-size: 14px;
	color: #666;
	font-style: italic;
	margin: 0;
	padding: 0;
	text-align: center;
}
.num {
	font-size: 30px;
	color: #faae53;
	font-weight: bold;
}
.text {
	font-family: 'Franklin Gothic Book' !important;
	
}
.square {
	margin: 30px 0px;
}
#ranking .col-sm-1 {
	width: 4% !important;
}
.border-r {
	border-right: 1px dotted #ccc;
}
.table {
	border: 1px solid #ccc;
}
.table > tbody > tr > td, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
	padding: 15px 8px;
}
.mobile-res {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 auto;
	min-height: 450px;
}
.line {
	border-right: 1px solid #015542;
}
.contactbox {
	color: #fff;
}
.contactbox a {
	color: #fff;
}
.line p {
	color: #fff;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 21px;
	padding: 10px 0px;
}
.contactbox {
	background: #faae53;
	margin-bottom: 20px;
}
.email {
	padding:10px;
	font-weight: bold;
}
.registerform .email{
	padding:0 15px;;
}
.registerform label.error {
    color: #dc3737;
    font-weight: normal;
    font-size: 11px;
}
.registerform .btn {
    width: 100%;
    background-color: #fc9700;
    border-color: #fc9700;
    padding: 13px 16px;
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
	margin-top: 5px;
}
.registerform .btn:focus, .registerform .btn:hover, .registerform .btn:active {
    background-color: transparent;
    border-color: #fc9700;
    color: #fc9700;
}	
.module-text{
	font-size:13px; 
	line-height:1.8;
}
.faculty-name{
	font-size:16px;
	color: #a41034;
	font-weight:bold;
	margin-bottom:0px;
}
.faculty-des{
	font-size:16px;
	font-weight:bold;
}
.no-padd-l{
padding-left:0px !important;
}
.registerform {
    background: #f0f0f0;
    margin-bottom: 20px;
}
fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.registerform legend {
    background: 0 0;
    color: #333;
    font-family: franklin gothic medium cond;
    font-size: 16px;
    font-weight: 700;
    height: auto;
    line-height: 37px;
    margin: 0 0 5px;
    letter-spacing: .1rem;
    padding: 9px 0 0 20px;
    text-transform: uppercase;
}
.form-container {
    padding:10px 18px 0px 18px;
}
.registerform legend span {
    color: #eb5e2e;
    line-height: 26px;
}
.registerform .form-group {
    margin-bottom:3px;
}
.registerform .salutation {
    left: 15px;
    padding-left: 0;
    padding-right: 2px;
}
.registerform .first_name, .registerform .city, .registerform .email, .registerform .company, .registerform .designation {
    padding-right: 1px;
}
.registerform .form-control {
    font-size: 12px;
    height: 38px;
    border-radius: 0;
    padding: 3px 6px;
    color: #000;
	font-weight: normal;
	margin: 0;
}
select, .registerform select.form-control {
    padding-right: 15px;
    background: url(https://www.eruditus.com/programmes/common/images/arrow-new.png) no-repeat 97%;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

:focus {
		outline: -webkit-focus-ring-color auto 0px !important;
}
select::-ms-expand {
    display: none;
}
.registerform select.select{	
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media only screen and (max-width: 1199px) {
.sloan-list {
	width: 32%;
	float: left;
	min-height: 175px;
}
.dates h3{
	font-size: 25px !important;
}
}

@media only screen and (max-width: 1065px) {
.dates h3 {
    font-size: 23px !important;
}
.dates {
    position: absolute;
    top: 20%;
}
.banner-head-sm {
    font-size: 16px;
}
}

@media only screen and (max-width: 1023px) 
{
	.hide-modules { display: none; }
	.loadMore { display: block;margin: 15px 0px;clear: both; }
	.loadMore a { color: #a41034;text-decoration: underline; }
}
@media only screen and (max-width: 991px) {
.mobile-res {
	min-height: 360px;
}
.form-horizontal .col-sm-2 {
	width: 18.6%;
	float: left;
	margin: 0;
	padding: 0;
}
.form-horizontal .form-control {
	padding: 3px;
}
.form-horizontal .col-sm-5 {
	width: 39%;
	float: left;
}
.form-horizontal .col-sm-6 {
	margin: 0 8px 0 0;
	padding: 0;
}
.form-horizontal .col-sm-6 {
	margin: 0 1px 0 1px;
	padding: 0;
	width: 49%;
	float: left;
}
.form-horizontal .col-sm-3 {
	width: 25%;
	float: left;
}
.form-horizontal .col-sm-9 {
	width: 75%;
	float: left;
}
.form-horizontal p.bt-text {
	font-size: 11px;
	color: #666;
	font-style: italic;
	margin: 0;
	padding: 0;
	text-align: center;
}
.btn {
	margin: 10px 0px;
}
.form-horizontal select .form-control {
	width: 99%;
}
.footer-box {
	padding: 6% 2%;
	margin-top: 0px;
}
.foot-head {
	font-size: 17px;
}
.faculty {
	float: left;
	text-align: center;
	width: 25%;
	margin-right: 0;
	margin-bottom: 10px;
	min-height: 253px;
}
.sloan-list {
	width: 48%;
	float: left;
	min-height: 190px;
}
ul.client-slider li.col-lg-1 {
	width: 20%;
}

.dates {   
    top:20%;
    left: 0%;    
}
.form {   
    right: 0%;
}
}




 @media only screen and (max-width: 768px) {
.upcontact {
	float: none;
}
.footer-box {
	padding: 6% 2%;
	margin-top: 10px;
}
}
 @media only screen and (max-width: 767px) {
.county-list {
	margin: 0 auto;
	width: 30%;
}
.mo-center {
	text-align: center;
}
#mobile-no {
	display: none;
}
.mobile-res {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	margin: 0 auto;
	min-height: 260px !important;
}
.form {
	position: relative;
	right: 0;
	top: 0;
}
.dates {
	left: 0px;
	top: 0px;
	position: absolute;
	margin: 20px auto;
	font-family: 'Franklin Gothic Medium Cond';
}
.form-horizontal {
	margin: 20px auto;
	width: 94%;
	padding: 0px;
}
.banner {
	margin-bottom: 0px;
}
#ranking .col-sm-1 {
	width: 100% !important;
}
.border-r {
	border-right: none;
}
.dates h3 {
    font-size: 22px !important;
}

.head2{
	padding:5px;
}
.head2 p {
    text-align: center !important;


}

}
 @media only screen and (max-width: 579px) {
.faculty {
	float: left;
	text-align: center;
	width: 50%;
	margin-right: 0;
	margin-bottom: 10px;
	min-height: 236px;
}
.banner-head-sm {
    font-size: 13px;
}
.sloan-list {
	width: 98%;
	float: left;
	min-height: 175px;
}
#mobile-no {
	display: none;
}
}
 @media only screen and (max-width: 480px) {
.footer-box {
	padding: 6% 2%;
	margin-top: 10px;
}.form-container .col-xs-2, .form-container .col-xs-5 ,.form-container .col-xs-6{	width:100%;		}.registerform .salutation {    padding-right: 15px;}.form-container .col-xs-5 ,.form-container .col-xs-6{	padding-right:0px;}.mobile_num{	margin-bottom:3px;	}
.dates h3 {
    font-size: 20px !important;
}
.banner-head-sm {
    font-size: 12px;
}
.module-text {
    font-size: 12px;
    line-height: 1.8;
}
.alumni-list {
	width: 50%;
}
#mobile-no {
	display: none;
}
.head{
	font-size:25px;
}
.big-text {
    
    font-size: 17px;
    
}
}
 @media only screen and (max-width: 400px) {
#new-faculty .col-xs-6 {
	width: 100%;
}
.dates{
	margin: 10px auto;
}
}

@media only screen and (max-width: 360px) {
.dates h3 {
    font-size: 18px !important;
}
.banner-head-sm {
   font-size: 15px;
   margin-bottom:5px !important;
}
.module-text{
	line-height:1.5;
}
.dates {
    margin: 10px auto;
   
}

.header-border {
    margin-top: 10px;
}
select.error, input[type=text].error, input[type=email].error, textarea.error, input.error {
    border: 1px solid #dc3737;
	margin: 0;
}
}


@media only screen and (min-width: 768px){
.display-section {
    display: -webkit-box;
}
}