$white: #ffffff;
$black: #000000;
$thamar-black: #181818;
$nero-black: #1D1D1D;
$smoke-white: #F5F5F9;
$sherpa-blue: #003245;
$wild-blue: #7898B3;
$aloe-vera-green: #88A63D;
$sweet-garden-green: #BCD85E;
$light-grey: #D9D9D9;
$lightest-grey: #E4E9F3;
$approve: #B7F994;
$reject: #FBC0BB;
$pending: #FFF06A;
$battleship-gray: #848484;
$red: #FF3030;